[2019-05-31 18:30] dcreager opened #7 "Set us up some CI"
We should set up some CI to run the test suite for each candidate PR.

(To be clear, we were doing this before!  We should just start doing it _again_ now that the library is open sourced.)

[2019-05-31 19:16] joshvera opened #8 "importing from '.' is not implemented"
Saw this while generating the scope graph for https://github.com/pallets/flask. I believe the file was `flask/app.py`.

[code]

[2019-05-31 19:20] joshvera opened #9 "Data.Scientific exception when parsing tensorflow/models"
Ran into this exception when generating a scope graph for [tensorflow/models](https://www.github.com/tensorflow/models). I think the file in question might be `global_objectives/loss_layers_test.py`.

[code]

[2019-05-31 19:21] joshvera opened #10 "Infinite loop in keras utils/vis_utils.py"
Found an infinite loop while generating the scope graph for `keras`. I believe the culprit is `keras/utils/vis_utils.py`.

This is while interpreting in the concrete domain.

[2019-05-31 19:23] joshvera opened #11 "Add support for extending scope graphs with incremental changes"
We should modify our scope graph implementation so we can extend an initial scope graph computation with incremental changes.

To do so, we'll need to store partial paths to unknown declarations in the scope graph. Given the initial scope graph and a new set of files to parse, we should be able to generate a new scope graph by filling in the gaps using terms we find in those new files.

[2019-05-31 20:30] Avi-D-coder opened #13 "Investigate incremental parsing/tree reuse"
Is the whole file always parsed and diffed or can unchanged sections be easily reused?

The use case I have in mind is LSP clients often sync the whole file or large sections when the user made small changes or a number of small changes interspersed in a large section. LSP servers usually do better with small changes Their is a open HIE issue for this.

[2019-05-31 20:33] patrickt commented on #13
Our underlying parsing toolkit, tree-sitter, supports incremental diffs. Right now `semantic` itself does not cache or reuse any previous results, but we could hypothetically do this in the future.

[2019-05-31 20:34] patrickt commented on #13
See also #11.

[2019-06-01 12:59] Qinka opened #16 "Publish to Hackage/Stackage."
Is there any plan to publish on hackage and stackage?

[2019-06-01 13:35] patrickt commented on #16
Short answer: in the future, yes, but probably not right now.

Longer answer: In principle, a Hackage release should be trivial, but in practice there are a number of obstacles to this. Firstly, we depend on [`haskell-tree-sitter`](https://github.com/tree-sitter/haskell-tree-sitter), which is also not yet on Hackage, and involves no fewer than nine separate packages. In addition, we are sadly many

[2019-06-01 14:36] marcelosousa opened #17 "Add macOS/Linux binary downloads."
Is there a plan to do a release of binaries? That would be quite helpful for people who just want to try out the tool.

[2019-06-01 14:41] patrickt commented on #17
I agree we should do this. Just a matter of figuring out the correct place to put it. Probably a `semantic-0.5.0.0-alpha` release or something.

[2019-06-01 14:43] patrickt opened #18 "Windows support"
Nothing about the library ~or executable~ is Unix-specific, so we should support Windows. Creating this issue to track it.

[2019-06-01 17:36] robrix opened #19 "Confusing CLI error message when mixing --language and :Lang suffixes"
If you use both `--language` and a `:Lang` suffix on a path, you get a confusing error message:

[code]

We should probably tell you that you can’t mix these formats instead.

[2019-06-01 17:37] robrix opened #20 "CLI usage info doesn’t tell you how to specify languages"
The CLI usage info doesn’t mention that you can specify per-file languages with `path/to.file:Lang`, and it also doesn’t mention the format for the language either there or in the usage for `semantic graph` under `--language`.

We should make sure to mention the existence of the former, the format of the language in both cases, and probably also the complete list of supported languages.

Similarly

[2019-06-01 17:42] robrix opened #21 "SES is semi-parallelizable"
@joshvera pointed out that we can parallelize some of our SES implementation using the `Control.Parallel` primitives `par` & `pseq`. Specifically, in an edit graph like this one:

<img src="http://cl.ly/0G1S1L2h1k1b/Edit%20space.svg">

each vertex depends on everything to the right of and below it. That means that the top right and bottom left quarters are independent of each other, tho they both

[2019-06-01 17:46] robrix opened #22 "RWS always finds a nearest neighbour in non-empty terms"
Given a diff of branch nodes each with one child, _a_ & _aʹ_ respectively, RWS always finds a nearest neighbour, even when _a_ and _aʹ_ are substantially different. Note that if they are categorized differently it’ll still avoid performing the comparison, and also that this won’t affect its selection of (approximately) the best comparisons among larger branches.

The RWS-Diff paper uses the square

[2019-06-01 17:48] robrix opened #23 "Unbiased RWS is slower & uses more memory than naïve RWS"
Once upon a time, we implemented a strategy to resolve a bias in RWS favouring earlier elements that involved finding the nearest neighbours in both directions at once. This resolved the bias, but unfortunately it added about a fifth to both our runtime and heap usage.

[2019-06-01 17:52] robrix opened #24 "RWS’ constant-time approximation of edit distance is not actually constant-time"
`editDistanceUpTo` is not actually a constant-time approximation of the tree edit distance, because it relies on `cutoff`, which models a bound on recursion depth, but not on traversal count.

The paper refers to their use of “an iterative deepending [sic] top-down matching that stops after a fixed number of compared nodes and is thus in O(1).” It seems likely that this was a typo of [iterative de

[2019-06-01 17:54] robrix opened #25 "RWS hashing & RNG are counterproductive for the similarity metric"
The hashing & RNG used by RWS act counter to its intention of approximating the tree edit distance with the squared Euclidean distance between the _d_-dimensional feature vectors summarizing nodes. This is caused by two factors:
1. Many hash functions have the property that a change of one bit in the input will result in a change to approximately half the bits in the output. That means that simila

[2019-06-01 17:54] robrix commented on #25
Instead, we want something more like [locality-sensitive hashing](https://en.wikipedia.org/wiki/Hash_function#Locality-sensitive_hashing), which has the [continuity](https://en.wikipedia.org/wiki/Hash_function#Continuity) property. I’ve also been pointed towards [principal component analysis](https://en.wikipedia.org/wiki/Principal_component_analysis), tho I don’t know much about it just yet.

[2019-06-01 17:54] robrix commented on #25
Some references following a conversation with @kavgan:
- [Mining of Massive Datasets, Chapter 3: Finding Similar Items](http://infolab.stanford.edu/~ullman/mmds/ch3.pdf), by Jure Leskovec, Anand Rajaraman, & Jeff Ullman — see also the [full book](http://www.mmds.org)
- [Min Hashing](https://www.cs.utah.edu/~jeffp/teaching/cs5955/L5-Minhash.pdf), from a University of Utah course taught by Jeff M. P

[2019-06-01 17:54] robrix commented on #25
The conclusion I arrived at from my conversation with @kavgan:

Notably, each sub-problem is orthogonal. I’d suggest we tackle MinHashing and LSH before shingling; improvements to leaf similarity will be most noticeable with improvements to small branch similarity already in place.

[2019-06-01 17:56] robrix opened #26 "RWS’ hashing clamps label similarity to {0,1}"
We compute labels for every node. Currently, label similarity is computed by hashing, clamping it to either 0 (different) or 1 (identical). This is counterproductive; only slightly distinct leaves are treated identically to disjoint leaves.

This is necessitated by RWS, so a better similarity metric on labels will require better similarity metrics on trees and better subterm matching to have any e

[2019-06-01 17:56] robrix commented on #26
_w_-shingling is a well-known approach that we may wish to consider.

[2019-06-01 17:58] robrix opened #27 "Experiment with use of shallow SES in place of/composed with RWS for some/all branch diffs"
We developed our RWS implementation in response to flaws of our SES implementation at the time:

1. It performed _n²_ comparisons in every case, not just the worst case of disjoint inputs.

2. It had pretty high constant factors due to the long chains of thunks it built up (IIRC).

3. It performed a prohibitive full tree diff for each comparison in order to select the lowest-cost path through the

[2019-06-01 17:58] robrix commented on #27
I’ve half an idea that we might be able to treat this compositionally, essentially factoring the SES preflight pass out of RWS and enabling them to be used together.

[2019-06-02 21:30] patrickt commented on #18
Via @hvr, we should use this [this guide](https://hub.zhox.com/posts/chocolatey-introduction/) for getting started with CI on Win32.

[2019-06-02 21:31] patrickt commented on #18
We should also make sure that this builds and runs with WSL, though I can’t imagine a reason why it wouldn’t.

[2019-06-03 12:13] marcelosousa opened #31 "Parse error on typescript file"
On the following typescript file:
[code]

I'm getting the following error:
[code]

This is a minimal example when I tried to parse the file https://github.com/palantir/tslint/blob/master/src/language/rule/abstractRule.ts

[2019-06-03 15:02] patrickt commented on #31
Hi there! Thanks for the report. Errors of this form are bugs in the tree-sitter parser, so I’ve taken the liberty of moving this: https://github.com/tree-sitter/tree-sitter-typescript/issues/70

[2019-06-03 15:02] #31 closed

[2019-06-03 15:33] patrickt opened #32 "Move from shelly to streaming-process."
shelly is a good library with a well-thought-out API, but in our case its API is causing an unnecessary UTF-8 encode/decode for each blob read from the filesystem. shelly reads from a process as a ByteString, then converts that into a Text value, which we then convert back into a ByteString with Source.fromUTF8. We can skip all of this and use streaming-bytestring to read as directly from the proc

[2019-06-03 15:36] patrickt opened #33 "Move from machines to streaming."
After spending a lot of time with the various streaming libraries, the best-equipped for our needs is streaming and the streaming-* ecosystem. We should convert our machines-based stuff to streaming.

[2019-06-03 15:37] patrickt opened #34 "Use a parser instead of pattern-matching on `Text` when parsing git-ls-tree output."
In Semantic.Git, we should pull in attoparsec to parse the elements of git-ls-tree output, rather than matching on Text values, which is slow.

[2019-06-03 15:41] patrickt commented on #33
This requires adjustment of the reprinting pipeline and the tagging pipeline (in the `Reprinting` and `Tags` namespaces respectively).

[2019-06-03 16:23] patrickt opened #37 "Performance/benchmarks dashboard"
We should pull in something like https://github.com/nomeata/gipeda and graph our performance over time.

[2019-06-03 17:20] patrickt commented on #18
We should use this to attempt to provide signal handling on Windows. https://hackage.haskell.org/package/signal-0.1.0.4/docs/System-Signal.html

[2019-06-03 18:48] patrickt opened #40 "Distribute effect should yield true concurrency, not just parallelism"
As pointed out in https://twitter.com/mitchellsalad/status/1135618541376479233

[2019-06-03 19:00] patrickt commented on #40
We’re getting a measure of parallelism out of `parTraversable`, but we should do this on an even more aggressive scale.

[2019-06-03 19:09] patrickt opened #41 "Add streaming interface for `semantic parse --symbols`."
Our heap usage in invocations of `semantic` in this case is suboptimal: we eagerly load every file in a project into memory, and only relinquish it when tagging is complete. There’s no reason why we can’t do this in a fixed amount of memory, given that in production use cases memory can be very limited. My hypothesis is that if we switch to a streaming model—that is, if we make the `git ls-tree` p

[2019-06-03 23:31] jamiebuilds opened #43 "Investigate distribution via third-party package managers."
Are there any plans to put `semantic` on any common system package managers (i.e. apt, brew, etc)?

It's quite a long from-source install right now, and it would be really useful if there was some sort of distributed binary that could be installed faster.

[2019-06-04 00:24] patrickt opened #44 "Path/project ingestion logic is duplicative and painful"
Each of our various CLI flags uses slightly different mechanisms to yield a `Data.Project` that it can analyze. `parse` uses `Semantic.IO.findFilesInDir`, `parse --gitDir` uses `readBlobsFromGitRepo`, our `Util` functions use `readProjectFromPaths`, `Files` provides `readProject`, and there are probably more. This entails a whole lot of duplicated code and pain. Some of this complexity is essentia

[2019-06-04 00:26] patrickt opened #45 "Investigate a shared cache of build artifacts for CI/local development."
This would be a nontrivial amount of engineering effort, but I’ve heard reports of people compiling 100k SLOC Haskell projects in two minutes. I think effort spent on this would positively impact our ability to turn around revisions quickly, in the manner that a scripting-language-based platform would.

[2019-06-04 00:29] patrickt opened #46 "Port getting-started guide."
We have internal documentation that describes how to get up and running with semantic quickly. We should port it to the `docs/` folder.

[2019-06-04 07:45] ShalokShalom opened #47 "Eta"
According to your report here: https://github.com/github/semantic/blob/master/docs/why-haskell.md

Eta might help you with some of your concerns with the language. In particular, with error handling due to improved compiler messages, and obviously all the JVM related parts.

http://eta-lang.org/

[2019-06-04 07:52] fishtreesugar commented on #47
Eta [does not support](https://eta-lang.org/docs/faq#is-eta-compatible-ghc8) many advanced features in recent GHC version.

[2019-06-04 07:57] ShalokShalom commented on #47
You could still use it in order to get sane compiler notifications in case you use 95% of the supported language.

[2019-06-04 07:59] marcelo-sousa-sonarsource commented on #46
I think the ideal scenario is to provide a Docker image.

[2019-06-04 11:01] patrickt commented on #47
Regardless of Eta’s advantages (and it is a cool project), switching to the JVM isn’t feasible at this point in the project’s lifecycle for both implementation and operational reasons.

[2019-06-04 11:01] #47 closed

[2019-06-04 11:13] patrickt opened #49 "Python assignment error in tensorflow/models"
This dies:

[code]

with

[code]

This is in [tensorflow/models](https://github.com/tensorflow/models/blob/master/samples/outreach/blogs/blog_custom_estimators.py).

[2019-06-04 11:21] patrickt opened #50 "Try/catch/finally blocks are structured poorly for analysis"
`Statement.Try` is defined as a pair of a body node and a list of catch/finally/etc nodes; `Statement.Catch` has an exception and a body; and `Statement.Finally` has a single node, for its body. This mirrors the structure of many surface syntaxes, but isn’t particularly amenable to evaluation: the `Evaluatable` instance for `Try` would have to go through its list of catch/finally nodes, categorize

[2019-06-04 11:25] patrickt opened #51 "Ruby access control"
Handling Ruby access control (i.e. `public`, `protected`, and `private`) for method declarations is problematic because `protected` and `private` are _methods_ rather than _keywords_.

This distinction is crucial in Ruby because this makes the `protected` and `private` methods open for monkey-patching or aliasing:

[code]

Because we can't rely on keywords in Ruby at the parser level to determine

[2019-06-04 11:59] ShalokShalom commented on #47
I am not talking about switching to Eta. If you guys just would ONCE read the text that the people write, it would be wildly appreciated. And that from a Github employee ^.^

[2019-06-04 14:30] patrickt opened #53 "Add an issue template."

[2019-06-04 14:38] patrickt opened #54 "Detect valid holes in the scope graph"
In our current scope graph implementation, declarations can optionally contain an associated scope. This has been a good solution, but as we look toward a future in which iterative scope graph calculation is important for supporting the type of indexing in the `alephd` service, we can be more precise in terms of what declaration scopes require additional effort for their complete iterative computa

[2019-06-04 14:42] patrickt opened #55 "Investigate performance consequences of enabling/disabling parallel GC."
As per [this tweet](https://twitter.com/ndm_haskell/status/1076187051610042368?s=12) from Neil Mitchell:

We should do some benchmarking to see if this, or [this](https://twitter.com/qnikst/status/1076259286202966018), has a positive effect on performance.

[2019-06-04 15:22] robrix opened #56 "Abstract domains can’t model sequencing"
We currently assume that two statements in a sequence are completely unrelated, e.g.:

[code]

Here, `a` and `b` are indeed orthogonal, but the result of `foo` isn’t just determined by `b`, as it would be in a pure language, but rather by the effects performed by both `a` and `b`. In other words, treating statement blocks as simply returning their final value means that we’re losing the ability to

[2019-06-04 15:38] robrix opened #57 "Strategies for dealing with partial information"
We won’t always have all of the information available for a program. A partial (hah) list of conditions which can and will cause this:

- it may be ambiguous what the entry point(s) for a program are
- libraries don’t have entry points at all
- we might not know which source files are a part of which program if we don’t know about e.g. the build/package system
- we might not be able to resolve dep

[2019-06-04 15:38] robrix commented on #57
📌

[2019-06-04 15:45] patrickt opened #58 "Use gitlib and its data types to interface with Git."
https://github.com/jwiegley/gitlib

We’re currently reinventing a number of Git primitives poorly (usually as wrappers around `Text`). For our own sanity’s sake, let’s not maintain a Git ref parser: we should just use these data structures instead of those in `Semantic.Git`.

[2019-06-04 15:46] robrix opened #59 "Holes lose information"
Holes are essentially empty, meaning that we lose potentially useful information about what condition caused the hole. The various resuming handlers could store the error(s) in holes, and our abstract domains could be monoidal with respect to these (coalescing sets of error conditions together).

[2019-06-04 15:46] robrix commented on #59
cf #57 for why these even exist

[2019-06-04 16:06] puffnfresh opened #61 "Plated Core"
I would love to see a Traversal of the immediate children of Core so that we can use things like [transform](http://hackage.haskell.org/package/lens-4.17/docs/Control-Lens-Plated.html#v:transform) or [cosmos](http://hackage.haskell.org/package/lens-4.17/docs/Control-Lens-Plated.html#v:cosmos).

If depending on lens is a problem, it's possible to just write the traversal without it:

https://github

[2019-06-04 16:21] robrix commented on #61
Thanks for filing!

I don’t have much experience with these, but I’ve got no objection to them. I’m pretty sure `semantic` depends on `lens` either directly or transitively, and I’ve no objection to `semantic-core` doing the same.

@patrickt, any additional thoughts?

@puffnfresh, would you be open to submitting a PR?

[2019-06-04 16:42] robrix commented on #43
@jamiebuilds: We don’t have any concrete plans for this that I know of, but it’s a reasonable suggestion. IIRC anyone can submit something to `brew`, and not just the package authors, so that might make this a good “help wanted” issue.

cf #17

[2019-06-04 16:42] tclem commented on #46
We do also publish docker images internally - that should get ported over along with project CI.

[2019-06-04 16:52] robrix commented on #46
👍 to docker images, but wonder if that should be a separate issue. I.e. I think docs & docker images serve different needs.

[2019-06-04 16:53] robrix opened #62 "Publish semantic docker image"
Per @tclem’s [post](https://github.com/github/semantic/issues/46#issuecomment-498750790):

[2019-06-04 16:55] robrix commented on #44
Rephrased as a bug.

[2019-06-04 16:57] robrix commented on #50
This applies to the `Evaluatable` instance & à la carte syntax, but will be subsumed by strongly-typed ASTs generated from the tree-sitter grammar (🎩 @maxbrunsfeld & @aymannadeem).

[2019-06-04 17:10] dcreager commented on #62
I can take this one, I've got the keys to the existing Docker hub account

[2019-06-04 17:14] robrix opened #63 "Provide a man page"
Provide a man page for the deployed tool. A comprehensive operator’s guide, essentially.

[2019-06-04 17:19] robrix opened #65 "Switch to constant-time (replacement) diffs past a certain depth"
We can, and should, bound our recursion, falling back to diffing by replacement once we’ve gone _n_ levels deep into the tree.

[2019-06-04 17:35] robrix opened #66 "Branch diffing produces additions before deletions"
Convention in diffs is for deletions to come before insertions. We don’t guarantee that, or at least, we didn’t at one point in time, and I’d like us to test that we do the right thing before closing this.

[2019-06-04 17:39] robrix opened #67 "Feature vectors are computed serially"
The feature vectors for two (sibling) subtrees are computed serially, despite being (partially) independent. Every step (labelling nodes, computing [bags of] _p_,_q_-grams, hashing, picking random vectors on the unit _d_-sphere, and summing unit vectors into feature vectors) is completely parallelizable, depending only on results from the previous step (in the case of computing _p_,_q_-grams, the

[2019-06-04 17:42] robrix opened #68 "Feature vector decoration occurs serially"
We compute the feature vectors for terms inside the diffing machinery, which means it isn’t exposed to the parallelism offered by `Task`’s `distribute…` family of APIs. This means that we

1. decorate one term in full before
2. decorating the other term in full before
3. diffing,

despite the fact that decorating a term with its feature vectors is a completely independent operation (i.e. paralleli

[2019-06-04 17:45] robrix opened #69 "LeanCheck property tests are biased towards the first argument"
@tclem & I found a while back that a property test with four args would use the same value for the latter three on every iteration. It’s like how digits work: you enumerate all the digits in the rightmost place before incrementing the next one, and enumerating all the digits in the rightmost column again.

~~If you only do a thousand tests, we have enough `Category` constructors to almost exhaust

[2019-06-04 17:51] robrix opened #70 "Recursively nested syntax forces recursive/linear diffing"
À la carte `If` syntax is defined s.t. multiple if/else if/else are represented as a recursive right-chained series of `If`s. This means that diffing can’t consider all of the alternatives at once, and therefore that it has to proceed linearly (i.e. we don’t have a list that we can pass to `byRWS`). That in turn means that if a user inserts or deletes one `else if` from the middle of a chain, we w

[2019-06-04 17:51] robrix commented on #70
This problem can still occur with ASTs generated from the grammars:

[code]

since chained if/else if/else statements would still be represented as right-nested.

[2019-06-04 17:52] robrix commented on #70
Substructural diffing & the `Alternative` instance for diffing algorithms could be applied to this problem, but potentially at significant increases in diffing time.

[2019-06-04 17:56] robrix opened #71 "Matching multiple token nodes is error-prone"
Anonymous (token) nodes are dropped before performing committed choices consisting entirely of non-token symbols (the usual case). You can always match a token by explicitly requesting its symbol, but if you have e.g. _multiple_ optional token nodes separating optional non-token nodes, it becomes difficult and error-prone to ensure that e.g. `symbol AnonToken *> namedRule` doesn’t advance past any

[2019-06-04 17:58] robrix opened #72 "Migrate responsibility for AST schemas to the grammars"
tree-sitter grammars don’t impose (m)any restrictions on the shape of ASTs, which in practice means that if we need to have the assurance that an if statement is consistently shaped the way we think an if statement should be, we have to parse the raw parse trees into our more precisely shaped syntax trees, a process which we call “assignment” (or “term assignment,” by analogy with “type assignment

[2019-06-04 17:58] robrix commented on #72
@maxbrunsfeld & @aymannadeem have been working on this in `tree-sitter` & `haskell-tree-sitter` respectively.

[2019-06-04 17:59] robrix commented on #72
This will eventually supersede all [assignment issues](https://github.com/github/semantic/labels/assignment).

[2019-06-04 18:03] robrix opened #73 "Changes to constant fields necessitate coarse-grained replacement"
Any syntax constructor which has both at least one constant-typed field and at least one parametrically-typed subterm field is subject to poor diffing when only the constant field changes.

Because `Diff`s cannot represent changes to constant-typed field, we guard comparisons of branch nodes on any constant fields—i.e. if the constant fields have different values, we refuse to compare the nodes at

[2019-06-04 18:05] robrix opened #74 "Changes within leaves necessitate the replacement of the entire leaf"
Diffs (and specifically patches) cannot represent changes to constant fields. This means that a change of a single word within a comment necessitates the replacement of the entire comment node. In the past we’ve tried to address this by splitting leaf nodes up, but this approach won’t work for general non-textual fields, or for leaves with >1 constant field. It also fails to address the fundamenta

[2019-06-04 18:06] robrix opened #75 "Child nodes of errors are unassigned"
`handleError` consumes parse error nodes but makes no attempt to assign their children. Since we request that tree-sitter bail out of error recovery early, we mostly get parse errors at/near the root of the tree, meaning that we lose most of the tree in the event of a single parse error.

[2019-06-04 18:08] patrickt commented on #61
I don’t object to it at all. `semantic` itself depends on `lens`, and we’re probably gonna benefit from it in the future. Happy to accept a PR or timebox it next week.

@puffnfresh, just an FYI - #42 provides a recursion-schemes `Base` instance for `Core`, so you can also do folds and transformations that way.

[2019-06-04 18:17] robrix opened #77 "Assignment errors are vague, misleading, and confusing"
Assignment errors are in pretty bad shape. It’s often difficult to tell which rule precipitated an error, much less why.

[2019-06-04 18:18] robrix opened #78 "TypeScript assignment discards pre/post and increment/decrement from update statements"
We assign TypeScript’s `x++` , `++x`, `x--`, and `--x` all to `TypeScript.Syntax.Update` without any reference to the operator or whether it’s done pre or post.

`Data.Syntax.Statement` includes `PostIncrement` and `PostDecrement`, and @aymannadeem is adding (has added now, I’m pretty sure) `PreIncrement` and `PreDecrement`, so we should use those instead.

[2019-06-04 18:23] robrix opened #79 "Term equality causes cache misses"
Terms contain `Range`s and `Span`s, which means that terms with the same syntax and different spans will have different configurations despite computing the same result.

Thus, a caching analysis of a program like so:

[code]

will not reuse the cached results for the second call to `foo`, slowing down analysis.

Note that this applies to both flow-sensitive and flow-insensitive analyses; they dif

[2019-06-04 18:24] robrix commented on #79
@patrickt asked whether we could `() <$` over the terms for the purposes of caching, and while we can, those `fmap`s have to traverse the whole subterm, and we’d be doing it repeatedly because analysis still needs the annotations. So probably better to use something à la `Quieterm` which preserves the annotations but doesn’t use them for `Eq`/`Ord`/`Hashable`.

[2019-06-04 18:53] rewinfrey opened #81 "Scope graph testing"
Scope graphs hold a treasure trove of information about programs we analyze. For the various name resolution goals like jump to definition or find all references, scope graphs give us a convenient and powerful way of answering questions about "what is this name's value?" along with "where does this name occur?" and "how is this name in scope?".

However, in addition to making this data available t

[2019-06-04 18:54] rewinfrey commented on #81
Following up after a conversation with @robrix, the goals for testing scope graphs in relation to `semantic-core` can be roughly thought of in the following segments:

* Possibly testing against `surface language -> translation`.
* Testing against `translation -> core`.
* Testing against `core -> scope graph`.

Breaking up the testing focus on the intermediate stages should give us more confidence

[2019-06-04 18:58] rewinfrey opened #82 "Loss of context between syntax terms and gensym names"
If retrieving a syntax term's `declaredName` results in a `NoNameError`, we `gensym` that syntax term's name for the sake of evaluation, including using that `gensym` name as the declaration name in the scope graph. This primarily affects the Evaluatable instance path for analysis, but may also affect semantic-core (although TBD I haven't verified this).

This is a problem in cases where the decla

[2019-06-04 19:00] patrickt opened #83 "Ruby attr_reader/writer/accessor methods are unsupported"
We don’t implement attr_reader, attr_writer, or attr_accessor, so we can’t resolve the methods these define. We can define this in pure Ruby if we implement `define_method`, `instance_variable_get`, and `instance_variable_set`.

[2019-06-04 19:11] robrix opened #84 "Abstract garbage collection"
Abstract GC improves both performance and precision, so it’s kind of an obvious win. It should also be _much_ easier to do with `semantic-core` than it would’ve been with `Evaluatable` and friends.

[2019-06-04 19:12] patrickt opened #85 "Fully implement Python's `from a.b import *`"
(Bug report originally via @tclem.)

There are a number of rules we don't handle when evaluating an import statement like this in Python:

[code]

The current implementation in semantic just looks for and runs `a/b/__init__.py` falling back to `a/b.py`. What should happen is we need to look at the list `__all__` to pick out which specific modules to load.

Ref: https://docs.python.org/3/tutorial/m

[2019-06-04 19:14] robrix opened #86 "Abstract domain composition"
Pairs of valid abstract domains are valid abstract domains, so composition would allow us to compute multiple properties, e.g. types and import graphs, in a single pass.

[2019-06-04 19:19] robrix opened #87 "REPLs for different core analyses"
There should be a family of REPLs for different analyses (concrete, typechecking, etc.).

[2019-06-04 19:19] patrickt opened #88 "Fix CI build time issues."
Due to the fact that we manually vendor our dependencies, we’re blowing a ton of cache unnecessarily. We need to publish the `tree-sitter` packages.

[2019-06-04 19:24] patrickt opened #89 "Investigate feasibility of switching to proto-lens for protobuf serialization."
For historical reasons, we depend on forked versions of `proto3-suite` and `proto3-wire`. It would be pretty ideal if we could switch to `proto-lens`, given its somewhat nicer API and the fact that we don’t use any gRPC features that `proto3-suite` provides.

[2019-06-04 19:24] patrickt commented on #89
Obviously, we can’t break backwards compatibility here, so it needs to be done very carefully.

[2019-06-04 19:57] shiftkey commented on #18
I poked at this today hoping it was pretty straightforward but found a strange build error:

[code]

Not sure what it might point to, but happy to try things if you think I'm just missing some dependency.

Full log: https://gist.github.com/shiftkey/91fa9f639d80419938fef7f2417754fc

[2019-06-04 20:28] patrickt commented on #18
@shiftkey Looks like WSL doesn’t provide `libtinfo` out of the box, which is I guess what `ghc-tcplugins-extra` uses for… line editing support, I guess? That might be it…

[2019-06-04 20:31] patrickt commented on #18
Possibly related: https://github.com/cockroachdb/cockroach/issues/24492

[2019-06-04 20:40] dcreager commented on #18
`tinfo` also had a recent soversion bump from 5 to 6, which caused us problems on our internal Docker builds that were based on too old of a Debian image.  (The `tinfo` dep was showing up in the resulting built binaries, IIRR!)  But since this is a link-time error, you're right @patrickt that here it looks more like it's just missing, and not a version-mismatch error.

[2019-06-04 20:50] hvr commented on #18
...at the risk of stating the obvious, have you tried already with `apt-get install libtinfo-dev` ?

[2019-06-05 05:22] jkachmar commented on #89
Relevant modules from `proto-lens` as they relate to RPC service declaration:
- [`Service` types and classes](https://github.com/google/proto-lens/blob/0cb384a09810b4d512a432106e7a9602d2e2e7a6/proto-lens/src/Data/ProtoLens/Service/Types.hs)
- [Example `.proto` file with different RPC types](https://github.com/google/proto-lens/blob/0cb384a09810b4d512a432106e7a9602d2e2e7a6/proto-lens-tests/tests/se

[2019-06-05 09:15] BlankRain opened #92 "how to build and install?"
➜  semantic git:(master) cabal install
Warning: The install command is a part of the legacy v1 style of cabal usage.

Please switch to using either the new project style and the new-install
command or the legacy v1-install alias as new-style projects will become the
default in the next version of cabal-install. Please file a bug if you cannot
replicate a working v1- use case with the new-style com

[2019-06-05 11:23] patrickt commented on #92
Hi! The [Development](https://github.com/github/semantic#development) section of the README specifies that you should use `cabal new-build` (or `cabal new-install`), rather than installing it in the legacy style with `cabal build`.

I’m going to close this now, but if you run into more difficulties please let us know.

[2019-06-05 11:23] #92 closed

[2019-06-05 17:06] shiftkey commented on #18
@hvr that's a good point!

WSL is a very minimal install, so I had to install these additional packages to address build failures:

[code]

The other thing I had to do was change `core.autocrlf` from `true` (which is set by default in the WSL home directory, probably for interop reasons with Windows) to `false` and reset the working directory state. The line endings change seems to trigger alot of

[2019-06-05 21:08] shapr opened #96 "cabal new-install fails to copy tree-sitter header files when packaging haskell-tree-sitter submodule"
This is probably low priority?

When running "cabal new-install exe:semantic" after carefully following the directions at https://github.com/github/semantic#development
The build for tree-sitter fails in a way I couldn't easily figure out.

new-build, new-run, and new-test all succeed though.

[2019-06-05 21:10] robrix commented on #96
Thanks for filing! Could you please paste the failure message(s) you were seeing, if any?

[2019-06-05 21:10] shapr commented on #96
Oh, I bet this is fixed by #95 ! I'll check that first.

[2019-06-05 21:11] patrickt commented on #96
I think we saw this internally — @donokuda and @tclem ran into this setting up from a fresh development environment. I haven’t been able to repro so I haven’t the faintest what’s going on.

[2019-06-05 21:16] shapr commented on #96
cargo can't build a HEAD clone of the tree-sitter repo, I'm almost certain that's the problem.

Even so, here's the error from cabal:

`/usr/bin/gcc -fno-stack-protector '-fuse-ld=gold' /tmp/24299-4.c -o /tmp/24299-5 '-D__GLASGOW_HASKELL__=806' '-Dlinux_BUILD_OS=1' '-Dx86_64_BUILD_ARCH=1' '-Dlinux_HOST_OS=1' '-Dx86_64_HOST_ARCH=1' -Idi
st/build/autogen -Idist/build/includes -Idist/build/vendor/tre

[2019-06-05 21:26] shapr commented on #96
A bit more investigation says this issue is not related to semantic, but instead haskell-tree-sitter
I'll close this issue and create a new report in the correct repo, sorry!

[2019-06-06 08:25] fredefox commented on #96
@shapr, I'm seeing this as well. Did you manage to fix it?

[2019-06-06 14:47] ixmatus commented on #55
Here's some anecdata for you: at Awake we saw, roughly, a 6x slowdown because of parallel GC on one of our GRPC server components (another component exhibited similar poor performance due to parallel GC and improved dramatically once disabled).

However, not everything has benefited from disabling parallel GC and I'm sure you could tune it to behave better.

[2019-06-06 15:17] robrix commented on #96
I can’t repro, but I have a pretty strong hunch that I know how to fix it just the same. Will attempt to later today.

[2019-06-06 15:47] robrix commented on #96
I _think_ checking out #95 and then bumping your `vendor/haskell-tree-sitter` submodule to point at https://github.com/tree-sitter/haskell-tree-sitter/pull/119 should resolve this. Can someone confirm?

[2019-06-06 16:02] shapr commented on #96
I'm using ubuntu 19.04 with ghcup for installing ghc 8.6.5 and cabal, and using "cabal new-update && cabal new-install exe:semantic"

I grabbed #95 and then in the haskell-tree-sitter submodule I also checked out https://github.com/tree-sitter/haskell-tree-sitter/pull/119 and I get a different error message this time:

/home/shae/.ghcup/bin/ghc -c -fPIC -odir dist/build -Idist/build/autogen -Idist

[2019-06-06 21:17] patrickt commented on #96
This appears to be fixed for me. @shapr, can you confirm it works with the latest HEAD?

[2019-06-07 06:07] avirlrma commented on #55
Hi, Can I pick this up?

[2019-06-07 07:13] gjedeer commented on #7
Since you're providing a Docker image too, perhaps the CI should also try `docker build`ing the image (since, as of now, it fails)

[2019-06-07 15:10] patrickt opened #104 "Investigate using a UTF-8 text type."
Right now we pay a lot of overhead for ByteString ↔ Text conversion. I've heard rumblings that Text is going to switch away from UTF-16 internally, but we should investigate the feasibility of switching us.

[2019-06-07 17:49] patrickt opened #107 "ProTips.md needs to be updated for cabal new-build."

[2019-06-07 22:35] patrickt commented on #104
Though @ekmett’s new work on reducing ByteString overhead will also help.

[2019-06-08 03:48] cbarrett commented on #45
This seems like something [Hydra](https://nixos.org/hydra/) would be good for.

[2019-06-08 06:22] fishtreesugar commented on #45
May give [cabal2bazel](https://github.com/google/cabal2bazel) and [rules_haskell](https://haskell.build/) a try?

[2019-06-08 11:59] patrickt opened #108 "Investigate performance consequences of using GHC’s LLVM backend."
https://tech.channable.com/posts/2019-03-13-how-we-made-haskell-search-strings-as-fast-as-rust.html

The workload described in the above link is dissimilar to the kind of work we do in Semantic, but let’s give it a shot. If there’s an improvement, we can see about enabling LLVM for production/packaging builds.

[2019-06-10 10:58] beenotung opened #109 "cabal new-build fails on GHCs installed without statically-linked boot libraries (“files missing in the ‘base-4.12.0.0’ package”)"
I followed the development guide in the readme as below:
[code]

It cannot find some required modules, seems the dependency configuration is missing something.

When I ran `cabal new-build`, I got compilation error, below is the console output:
[code]

[2019-06-10 12:52] patrickt commented on #109
This looks like something might be corrupted with your GHC install. A couple questions:
* What operating system is this?
* Are you sure you’re running GHC 8.6?
* Are you sandboxing your GHC installs with `ghcup`?

[2019-06-10 19:28] patrickt opened #111 "Use Hackage’s proto3-suite."
Now that @Gabriel439 has put proto3-suite on Hackage, we should investigate how much time we’d need to bring semantic and associated projects up to use the latest version.

[2019-06-10 19:35] #34 closed

[2019-06-10 19:39] patrickt opened #112 "Remove cabal.project.local file from repo."
This is the Wrong Thing to do. Our documentation should specify to run `cabal new-configure --disable-optimization semantic semantic-core`, which generates a `cabal.project.local` file, and we should remove and .gitignore it.

[2019-06-10 19:59] patrickt commented on #111
This is blocking #16.

[2019-06-10 20:11] patrickt opened #114 "Add tests for protobuf serialization via `--proto-symbols` and friends."
We need test that can read some `example-fixture.bin` file from disk (containing a protobuf-encoded payload) and make sure that it corresponds to a Haskell value (and vice versa). Silently introducing incompatibilities into the protobuf paths would be a devastatingly irritating bug to encounter (types won’t help you here!)

[2019-06-10 20:13] patrickt opened #115 "Get and report profiling statistics."
We should have one of those fancy little badges that shows code coverage. (It will not be a particularly high number at this point, but that’s fine. Self-love, etc.)

[2019-06-10 21:08] patrickt opened #116 "Embed hspec-expectations-pretty-diff into the repo and remove pinned dependency."
We can’t pin this dependency if we want to upload to Hackage. Unfortunately, it produces worse-looking but more-informative output than just using `hspec-expectations` on its own. Because the output is flawed, I don’t think we should put it on Hackage—it’s a tiny library, let’s just pull it into the test suite.

Blocking #16.

[2019-06-10 21:09] patrickt commented on #96
This should be fixed by #110.

[2019-06-10 22:01] patrickt commented on #115
I tried this by setting `coverage: True` inside cabal.project.local, only to get this error at runtime:

[code]

[2019-06-10 23:13] patrickt opened #118 "Provide better workaround for slow compilation of Semantic.Util and the analysis specs"
Right now we just `GHC_OPTIONS -O0` everything. This is a blunt instrument and we can probably do better—something like `fsimplifier-phases` is probably a more specialized instrument.

[2019-06-11 14:40] robrix commented on #109
The `ghc-pkg check` call suggested in the output is also worth a shot.

[2019-06-11 14:41] robrix commented on #109
This one looks good at least:

[2019-06-11 14:46] robrix commented on #112
@patrickt: This doesn’t appear to be in the repo at all, and we furthermore ignore it. Can we close this out?

[2019-06-11 14:48] patrickt commented on #112
Oh, lol! I thought we had it in the repo. What we _do_ need is instructions on how to generate one such that `optimizations: False`. I’ll close this and do it in another patch.

[2019-06-11 14:48] #112 closed

[2019-06-11 15:41] patrickt opened #120 "Use tasty + tasty-golden for parse-examples tests."
These diffs are a prime example of golden testing: we want to match diff output exactly. If we use `tasty` as our prime test runner, we can use `tasty-golden` to set up a more accurate test of meaning (rather than just using `shouldBe` on a big string), and we’ll get pretty diff output without having to keep `hspec-expectations-pretty-diff` around (#116).

[2019-06-11 15:41] patrickt commented on #116
Closing in favor of #120.

[2019-06-11 15:41] #116 closed

[2019-06-11 15:45] robrix commented on #120
[TIL](https://ro-che.info/articles/2017-12-04-golden-tests).

[2019-06-11 19:12] shapr commented on #96
I blew away my clone and started from a pristine checkout.
I then checked out #110 linked above and it worked great!

As long as I carefully follow the "development" instructions, I'm now able to `cabal new-install exe:semantic` ! Thanks for all the fixes!

[2019-06-11 19:42] patrickt opened #121 "Move parse-examples tests to the tree-sitter packages."
We had to disable parse-examples in the CI tests because it was taking a ludicrously long time to check out `tmp/haskell-tree-sitter` with all its submodules. As per @robrix, we should move these rather than hold up semantic every PR.

[2019-06-11 20:36] shapr commented on #96
fixed!

[2019-06-11 20:36] #96 closed

[2019-06-11 20:37] robrix commented on #96
Thanks for the confirmation @shapr!

[2019-06-11 21:04] robrix commented on #55
@avirlrma: Thanks so much for your initiative! We’d definitely welcome any measurements you take, but I think the high-order bit for us will be measurements taken operating this at scale at GitHub. If you’re still interested, I’d just request that you preserve as much information about your requirements, operating environment, and load as possible so we can contrast our findings with yours effecti

[2019-06-11 22:19] #62 closed

[2019-06-11 22:22] tclem commented on #62
Publishing is a manual process, but we've got a [docker image now](https://github.com/github/semantic/packages/11609):

[code]

[2019-06-12 02:38] patrickt opened #122 "Switch from Leancheck to Hedgehog."
Leancheck is a lovely library, but it is not as ergonomic nor as rich in API as Hedgehog. We’re already using Hedgehog for `semantic-core`, might as well go all the way. This would enable us to get rid of that `Instances.hs` file that has like 125 orphan instances.

[2019-06-12 02:49] patrickt commented on #7
Both of these issues should be fixed with #110.

[2019-06-12 02:49] #7 closed

[2019-06-12 13:46] robrix commented on #122
cf #69

[2019-06-12 13:53] robrix commented on #122
I’d like to also suggest QuickCheck.

**Pros:**
- [`doctest`](https://hackage.haskell.org/package/doctest) supports it already (and relies on `Arbitrary` instances).
- It seems to enjoy better support for testing generated distributions (cf [_Building on developers’ intuitions to create effective property-based tests_](https://www.youtube.com/watch?v=NcJOiQlzlXQ) and the docs for e.g. `label` & `c

[2019-06-12 16:58] robrix opened #126 "Document the process for increasing language support"
We’re getting interest in adding support for languages, so we should document the overall process.

Given that we’re migrating away from using assignment &c., I think we should explicitly leave that out (tho prolly we should note that we don’t support diffing for the new-style grammar-derived ASTs just yet).

I think that makes the steps something like:

1. Make a `tree-sitter` parser (link to `tr

[2019-06-12 16:58] robrix commented on #126
cc @shaziyabandukia

[2019-06-12 17:19] patrickt commented on #122
Compatibility with `doctest` is indeed a big win. I personally find the limitations of an `Arbitrary`-based approach very frustrating, but the docs are indeed good and we should definitely look into how the shrinking/generated distribution testing compares to QuickCheck.

One of the big advantages of #120 is that we can drop in tests from any test framework and they’ll DTRT, so we can mix and matc

[2019-06-12 17:20] patrickt commented on #122
I’ve also found the Hedgehog docs to be excellent.

[2019-06-12 17:22] patrickt commented on #114
#120 makes this easier.

[2019-06-12 17:28] patrickt opened #127 "Turn on warnings for tests."
#120 adds `-Wunused-imports`; we should just apply all the relevant `ghc-options` (as specified in the `semantic:lib` component) in the `common` stanza so they’re shared between all targets.

[2019-06-12 17:29] patrickt opened #128 "Clean up TaskSession parameter in specs."
In #120 we started using ImplicitParams to pass a needed `TaskSession` value around, rather than passing it explicitly as an argument or reader effect (due to ergonomics reasons). We should do that in all relevant tests.

[2019-06-12 17:31] patrickt commented on #88
This got a lot better with #110. Not perfect, though.

[2019-06-12 18:22] FranklinYu opened #130 "Rust support"
Any interest in Rust support? Should be easier than dynamic languages.

[2019-06-12 18:29] robrix commented on #130
Thanks for the question! We aren’t currently focusing on it, but I’d be thrilled to review any work done to support it. If you’re interested in tackling it, #126 gives a brief outline of the process; note also that https://github.com/tree-sitter/tree-sitter-rust exists (tho I don’t know off the top of my head how complete it is).

cc @shaziyabandukia with whom I was literally just now talking abou

[2019-06-12 19:22] patrickt commented on #126
I think that we should mention assignment, at least for now, since we’re still several months away from the new-style grammar-derived ASTs – if only to impress on people that adding new languages is, for now, a lot of work.

[2019-06-12 20:04] cartermp opened #132 "F# support"
Any interest in supporting F#?

We have our own compiler APIs that enable all kinds of stuff based on structure and semantics; and it's part of the compiler proper, not some janky thing that breaks because the compiler changed stuff. You can see this in the Fable REPL, which supports a wide range of tooling features in the editor: https://fable.io/repl/

Based on looking at how you do things, you

[2019-06-12 20:15] patrickt commented on #132
Hi there! F# is a lovely language; we’re glad to hear that people want to use it with Semantic.

Though integrating with external tooling would be a fast way to get up and running, APIs to do so are not in our roadmap; for reasons of simplicity, compatibility, and speed, we’re locked in to the [tree-sitter](http://tree-sitter.github.io/tree-sitter/) ecosystem. The first step would be to write a tr

[2019-06-12 21:07] robrix commented on #126
Fair point. Can we at least say “please don’t do this to yourself”? 😊

[2019-06-12 21:10] robrix commented on #122
I’m reasonably convinced that Hedgehog is the way to go now. I just wish there were a doctest equivalent for Hedgehog, as I tend to go out of my way to avoid writing `Arbitrary` instances for doctests anyway!

[2019-06-12 21:20] #120 closed

[2019-06-12 21:28] lbergelson opened #134 "Support jump to callsite in java"
Jump to call-site is an exciting new github feature enabled by semantic, but it doesn't currently work for java.  What would be necessary to enable it?

[2019-06-12 21:29] damieng commented on #126
Are these new style AST's not based on tree-sitter?  I got about 50% through a C# grammar when I worked on the Atom team I'd be keen on picking back up if it'll be used on GitHub for this but obviously don't want to waste effort if something new is in the pipeline.

[2019-06-12 21:33] patrickt commented on #134
Hi there! Though I can neither speak about internal GitHub architecture nor make concrete feature promises, I can say that jump-to-definition is powered by `semantic parse --symbols`. Java support would be predicated upon this, which in turn means that we would have to do extensive work on `tree-sitter-java` and the Java assignment stage, as both are somewhat inchoate at this point. I’m tracking y

[2019-06-12 21:37] patrickt commented on #126
@damieng The new-style ASTs will be based on tree-sitter, so we’ll still need a tree-sitter-c# grammar/package: indeed, we'll generate Haskell type definitions generated directly from the tree-sitter grammar. What will change is that the internal sum-of-products AST representation (see Data.Term and Language.Syntax.*) will be obviated, as we’ll instead translate the new-style ASTs directly into `D

[2019-06-12 21:44] robrix commented on #126
The TH code to generate the datatypes is already on `haskell-tree-sitter`’s `master`, and cf https://github.com/tree-sitter/haskell-tree-sitter/pull/90 for @aymannadeem’s work on building said ASTs from tree-sitter parses.

[2019-06-12 21:45] robrix commented on #126
Note that non-analytical (i.e. syntactic rather than truly semantic) computations won’t need this last step, as we should be able to e.g. diff generically over the new ASTs too (once we get that far).

[2019-06-12 21:47] lbergelson commented on #134
Thanks for the quick response.  Java is one of the most used languages on github (https://octoverse.github.com/projects#languages) so it would help a lot of people.

[2019-06-12 21:48] robrix commented on #134
@lbergelson: Not to worry, we definitely track metrics like that and TIOBE when deciding where to spend our effort 😊

[2019-06-12 23:51] exoego opened #135 "No script/bootstrap in repository"
[CONTRIBUTING.md](https://github.com/github/semantic/blob/master/CONTRIBUTING.md) says *"Configure and install the dependencies: `script/bootstrap`"* but I could not find such file in this repository.

[2019-06-13 00:21] maxbrunsfeld commented on #130
Yeah, `tree-sitter-rust` is pretty complete. We've been using it in Atom for syntax highlighting, and it handles all the Rust code I've run it on. We recently got some community contributions that brought it up to speed with the newest language features.

I'd personally love it if semantic supported Rust, because Tree-sitter itself uses it quite a bit!

[2019-06-13 02:59] patrickt commented on #135
Good catch! Legacy docs. We should add that file and simplify the README.

[2019-06-13 03:12] patrickt commented on #126
Tracking in https://github.com/github/semantic/pull/131

[2019-06-13 03:34] patrickt opened #136 "Factor the CLI executable into its own package"
Today the builders decided to recompile the universe from scratch because a `cabal new-update` gave us some new bugfixes. While the build time is unfortunate (see #88), I started thinking about a separate dilemma, to wit: as time goes on and we loosen/tighten library version bounds in response to new packages coming in over the wire, we risk introducing changes into the behavior of the `semantic`

[2019-06-13 03:39] #128 closed

[2019-06-13 04:44] patrickt opened #137 "Add script/lint and use it in CI."
We have a .hlint.yaml that we are not using.

[2019-06-13 12:16] XVilka commented on #132
I think it makes sense to list here also the OCaml, due to the sheer similarity of these languages. So probably a big chunk of the code can be shared between those.

[2019-06-13 12:19] XVilka opened #138 "OCaml support"
There is an existing issue for [F# support](https://github.com/github/semantic/issues/132), but it makes sense to open here the separate one, especially since the OCaml support is already [in the tree-sitter](https://github.com/tree-sitter/tree-sitter-ocaml).

**Update**: Work in progress pull request adding the support: https://github.com/github/semantic/pull/623

[2019-06-13 14:14] Yuki-Minakami opened #139 "Couldn't match expected type ‘GHC.Prim.Proxy# a0’ with actual type ‘Proxy (Enumerated Language)’ while 'cabal build'"
My Env:
ubuntu 18.04
cabal 2.2
ghc: 8.6.4 without sandbox
----------------------
Preprocessing library for semantic-0.6.0.0..
Building library for semantic-0.6.0.0..
[ 71 of 180] Compiling Data.Language    ( src/Data/Language.hs, dist/build/Data/Language.o )

src/Data/Language.hs:116:26: error:
    • Couldn't match expected type ‘GHC.Prim.Proxy# a0’
                  with actual type ‘Proxy (Enume

[2019-06-13 14:15] Yuki-Minakami commented on #139
The second one seems issue with Proto3.Suit,
does it relate to the upgrade of that ?

[2019-06-13 14:42] patrickt commented on #139
Hmm, it looks like this isn’t using the correct `proto3-suite`. I think it may be due to too old of a version of `cabal-install`. @Yuki-Minakami, can you try upgrading (with `ghcup`) to `cabal-install` version 2.4?

[2019-06-13 15:20] robrix commented on #136
Agreed.

Are `cabal.project.freeze` files consulted relative to the `.cabal` file? Like, if we add `semantic-cli/cabal.project.freeze` will it be applied to `semantic-cli` only?

Alternatively, can we e.g. name the file `cabal.project.freeze.blah` and rename it in CI/when building release binaries?

[2019-06-13 15:22] robrix commented on #136
Renamed the issue to reflect my by-fiat decision 😁

[2019-06-13 15:23] robrix commented on #139
(cf #111?)

[2019-06-13 15:25] robrix commented on #137
So we do!

[2019-06-13 15:26] robrix commented on #139
@patrickt: Since we kind of depend on the `source-repository-package` stanzas for correct building, should we set the cabal file’s version to 2.4?

[2019-06-13 15:38] Yuki-Minakami commented on #139
@patrickt
I removed my cabal and installed cabal 2.4.1 and met same error while 'cabal new-build',

but this time the error about **proto3.suite** has gone.

[2019-06-13 16:33] bryanweast commented on #139
I feel like I'm sitting in the twilight zone. Cobol and Cabal's weird similarities and the creepy undertones to the language kinda fascinate me.

[2019-06-13 16:58] bryanweast commented on #139
Am I like going crazy or is there a secret language behind Cobol and Smalltalk. It looks like a way of communicating or possibly the code of the human mind?

[2019-06-13 17:41] patrickt commented on #139
@Yuki-Minakami Could you please paste complete console output for `cabal new-build` in a Gist or in this issue?

[2019-06-13 18:09] patrickt opened #140 "Quiet debug-log console spew during tests."
Things like

[code]

do not spark joy. This is not difficult, it’s just a matter of tracking down what setting is set to debug rather than quiet.

[2019-06-14 00:15] Yuki-Minakami commented on #139
@patrickt
thanks for your commit.
it works fine after I update source code.

[2019-06-14 01:49] #139 closed

[2019-06-14 02:50] jhrcek commented on #127
@patrickt I will gladly take a stab at this.
Does this issue include fixing all the warnings given by the enabled warning options?

I quickly executed `cabal new-test` with the same warning options in `test-suite test` which are used in the library component, getting these results (summary):
[code]
.. so the general question is:
1. is there a code style guide? How do you prefer name shadowing to b

[2019-06-14 03:08] Yuki-Minakami commented on #109
it seems this error was caused by missing dependency during cabal install.
what is your cabal version?
I tried 2.2/2.4/3.0 and only 2.4 works well.

[2019-06-14 11:04] ChrisLGardner opened #144 "PowerShell Support?"
Any chance we can get PowerShell support for this?

[2019-06-14 11:07] shaneis commented on #144
This would be epic if we could! Massive productivity boost and would help with creating PRs for issues...

[2019-06-14 11:12] Graham-Beer commented on #144
This would be a really useful additional!

[2019-06-14 11:37] robrix commented on #127
@jhrcek thanks so much!

Yes, I think fixing warnings would be great—I think we might have `-Werror` on in CI.

One bit of good news, tho, we actually use `-fno-warn-name-shadowing` (not sure why that vs. `-Wno-warn-name-shadowing` tbh) so those 210 `-Wname-shadowing` warnings can be ignored 😊

I personally prefer using wildcards for unused matches, rather than underscore prefixes.

[2019-06-14 11:38] potatoqualitee commented on #144
Very much, yes please

[2019-06-14 11:40] robrix commented on #109
@Yuki-Minakami: Good thinking!

[2019-06-14 11:41] robrix opened #145 "Document our dependency on cabal 2.4"
The README mentions the dependency on ghc 8.6, but we also depend on cabal 2.4 for `source-repository-package` stanzas in `cabal.project`, and should mention this there too.

[2019-06-14 11:42] robrix commented on #145
@patrickt Are we planning on 🔥ing the `source-repository-package` stanzas? Cos that would obviate the need for this, of course.

[2019-06-14 11:42] robrix commented on #109
xref #145

[2019-06-14 11:46] robrix commented on #138
In case anyone is interested in working on this, see #131 for a draft of docs for adding support for a new language.

[2019-06-14 11:50] robrix commented on #144
I didn’t anticipate how much interest there would be in this, but I’m delighted to learn how valuable it is for so many people 💖 Thank you for filing!

In case anyone is interested in working on this, see #131 for a draft of docs for adding support for a new language.

[2019-06-14 11:58] robrix opened #146 "Tag computation only supports à la carte ASTs"
Right now we can only compute symbols for à la carte ASTs, but we’re starting to migrate to precise ASTs (e.g. the TH-generated ASTs @aymannadeem has developed in `haskell-tree-sitter`). Therefore we’ll need to be able to compute them for the latter as well.

Ideally this should be generic; and in that case it’ll probably depend on https://github.com/tree-sitter/haskell-tree-sitter/issues/135 to a

[2019-06-14 12:26] #145 closed

[2019-06-14 12:37] jhrcek commented on #127
In GHC user guide I found [this](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/using-warnings.html#ghc-flag--fshow-warning-groups):

So I'll switch to the `-Wno-name-shadowing` as I see this repo recommends 8.6.4

[2019-06-14 12:42] robrix commented on #127
Great find, and thank you very much!

[2019-06-14 13:12] hoschi commented on #109
I use Cabal 2.4 but get the same errors. OS is Arch (Linux)

[2019-06-14 13:25] Yuki-Minakami opened #148 "error: Could not load module ‘Prelude’ while running 'semantic parse' with --json"
I built semantic successfully but met some issue while using it.
I have a test.A.py
[code]
when I try `cabal new-run semantic parse test.A.py`
it works fine but when I add **--json** flag,
 it turned to be

[code]

I also tried .js file and got same result.

[2019-06-14 13:28] Yuki-Minakami commented on #148
I also tried **`semantic graph`**
it worked fine without **--call** but met same error above when I add **--call**

[2019-06-14 13:30] patrickt commented on #148
Hi there! The error here is that you need a `--` to delimit the arguments you’re passing to `cabal new-run` and `semantic` itself.

Try `cabal new-run semantic -- parse --json test.A.py`. Note the `--` between `semantic` and `parse`.

[2019-06-14 13:32] Yuki-Minakami commented on #148
@patrickt
Thanks A Lot!!!!

[2019-06-14 13:32] #148 closed

[2019-06-14 13:40] patrickt commented on #127
@jhrcek Thanks for taking a look at this! You asked about our style guide—it can be found [here](https://github.com/github/semantic/blob/master/docs/coding-style.md).

[2019-06-14 14:25] Yuki-Minakami opened #150 ""semantic graph xx.js" pending without any output"
Finally I got close to the goal~~
Now I had a simple index.js to test semantic graph.

when i ran `cabal new-run semantic -- graph index.js`
it printed  "up to date" and got pending there.
![捕获](https://user-images.githubusercontent.com/11377230/59516086-24f8e800-8ef3-11e9-96c4-dd0eeb634bc5.PNG)

Could I found some logs anywhere to figure out what happened behind?

**PS; All command works fine wit

[2019-06-14 15:14] tclem commented on #150
`graph` currently iterates the entire directory tree starting in the current directory. You can change this by passing `--root DIR` (see all options by running `cabal new-run semantic -- graph --help`) or make and `cd` into a temporary directory, put `index.js` in there and try it again.

You can change the log level by passing `--log-level debug` (again see top level `semantic --help`).

[2019-06-14 15:34] Yuki-Minakami commented on #150
@tclem
It really helps!!

[2019-06-14 15:34] #150 closed

[2019-06-14 16:49] patrickt commented on #88
This is good now.

[2019-06-14 16:49] #88 closed

[2019-06-14 17:14] aymannadeem commented on #146
Just to add clarity (for no one but myself), the use of "symbols" here refers to how the jump to def symbols are computed (not the `SymbolMatching`/`nodeSymbol` or `mkSymbolDatatype` symbols).

[2019-06-14 17:38] TylerLeonhardt commented on #144
@robrix I think folks saw this tweet which started the ask:

https://twitter.com/bashrw/status/1138548723405926405?s=19

PowerShell users are already use to symbols and references from the PowerShell extension for VSCode and would love to see similar exposed on GitHub since a ton of PowerShell users use GitHub 😊

[2019-06-14 17:58] GabrielRavier opened #154 "C/C++ support"
Though probably very difficult considering the mess that would be needed to do things like even trying to detect dependencies, support for C and C++ would be ***really*** nice. I merged the requests for C and C++ because having support for C++ would imply C support, and having C support would be just a step away from also having C++ support (that is, it would be pretty weird to have C support but

[2019-06-14 18:11] patrickt commented on #154
C is hard. C++ is unthinkably hard. But we’re hearing a lot of this, so let’s track the requests here.

[2019-06-14 19:20] patrickt commented on #136
A conversation with @hvr revealed that I’m conflating two desires: the desire for the dependency graph associated with Docker builds and release tarballs tracked in the repo, and the desire to get something up on Hackage. Hackage’s PVP guarantees mean that if we specify the version bounds correctly, we should be able to distribute an executable package with inexact version bounds, while still trac

[2019-06-14 20:21] patrickt opened #155 "Use cabal.project.freeze file to ensure reproducible Docker builds for the CLI."

[2019-06-14 20:23] robrix commented on #155
cf #136

[2019-06-14 20:30] robrix commented on #154
Undefined behaviour, the CPP, and staged programming are all challenges, to be sure.

[2019-06-14 20:53] patrickt opened #156 "C# support"
A lot of people asked for this on Twitter.

[2019-06-16 00:20] patrickt commented on #126
Fixed with #131.

[2019-06-16 00:20] #126 closed

[2019-06-16 06:29] jhrcek commented on #127
Implemented in https://github.com/github/semantic/pull/149 and https://github.com/github/semantic/pull/157 so this can be probably closed.

[2019-06-16 13:53] #127 closed

[2019-06-17 08:03] filips123 opened #160 "PHP scope graphing"
Can you add better support for PHP which includes import and call graphs? It should also be available [on GitHub](https://help.github.com/en/articles/navigating-code-on-github).

[2019-06-17 11:59] patrickt commented on #160
I’ve changed the title of this bug to reflect a specific. To be clear, better PHP support in Semantic doesn’t translate instantly into more GitHub end-user features, as things like jump-to-definition depend on infrastructure aide from Semantic.

[2019-06-17 14:14] robrix commented on #146
Confusing things further, I actually meant _tags_, not symbols; it’s just that the `Tags.Tagging` stuff is called from `Semantic.Api.Symbols` :joy:

[2019-06-17 14:41] robrix commented on #160
To your broader point, I’ve noted your feedback about wanting PHP support for jump to def internally 👍

[2019-06-17 17:30] patrickt commented on #109
I’ve found out what the problem was here: the default Arch package for GHC [has been broken for some time](https://wiki.archlinux.org/index.php/Haskell#Problems_with_linking), as Arch insists on dynamic linking and GHC uses static linking by default. For those in this thread encountering this problem, try the following:

[code]

My feeling is that we should close this, and possibly document it.

[2019-06-17 17:31] patrickt commented on #109
hattip to @solonarv, who clued me in to what’s going on

[2019-06-17 20:56] #135 closed

[2019-06-17 21:00] patrickt commented on #109
Now that we have documentation that explicitly warns against using system package managers to install GHC, I’m going to close this. If Arch users continue to have trouble, please leave comments in this thread.

[2019-06-17 21:00] #109 closed

[2019-06-17 23:08] zfy0701 opened #164 "How to get the exact definition of an usage"
Hi,

If I have a piece of code like
[code]

looks like currently the `parse --symbol` will just give you information like

[code]

which is really usefully, but theoretically we should be able to get detail information like fully qualified name like `String.startsWith`, otherwise it's might have may `startWith` method in different classes

Is there already a way to get that information now? Or doe

[2019-06-17 23:58] patrickt commented on #164
Hi! `parse --symbols` is a very simple tagging system: it reflects only the AST nodes. The `graph` command, which performs nontrivial analysis, is a more relevant subcommand to what you want. Something like `semantic graph --packages --calls --json` will probably give you the information you need (though, `semantic` being alpha software and all, it might not—if not, please let us know what’s missi

[2019-06-18 01:00] zfy0701 commented on #164
thanks for the info, so I create a project with following `package.json`:
[code]
and one `src/app.ts`:
[code]

the call graph I have is:
[code]

which is not exactly what I expected, e.g. the `exit` call should resolved to the following:
![image](https://user-images.githubusercontent.com/1646270/59645868-067c3200-9129-11e9-91bc-8ab50516edaf.png)

I tried to use another file by manually tagging the

[2019-06-18 02:46] patrickt opened #165 "Scope graphing does not take into account a language’s standard library"
As reported in #164, people find the lack of standard-library awareness unintuitive and limiting. This is hard, though, as I pointed out in the issue:

Do note that just because the scope graphing mechanism is unaware of the standard library doesn’t mean that it ignores stdlib calls—they are tracked and graphed like any other call, they just lack position information. So this isn’t a “we’re missin

[2019-06-18 02:47] patrickt commented on #164
If I understand you right, you’re trying to resolve that `exit` call to the `Process` library provided by Node, correct? We don’t currently gather information from the standard library—this is an unfortunate flaw that we’re aware of. We’ve done [some work](https://github.com/github/semantic/blob/master/src/Data/Abstract/Evaluatable.hs#L168-L176) on providing standard library primitives during conc

[2019-06-18 03:14] zfy0701 commented on #165
seems hardcode is a good start for the users. And I assume the file that has all the hardcoded could potentially be generated by analyzing the system library using semantic itself

[2019-06-18 03:49] zfy0701 commented on #164
Yes. I'm trying to resolve that to Node library. I just notice that we had the following error:
`
[20:16:25]  WARN /Users/fuyaoz/src/semantic-test/node_modules/@types/node/index.d.ts:1:1-2294:44: error: expected end of input nodes, but got ParseError
1: // Type definitions for Node.js 10.12
`
when analyzing this file:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/node/index.

[2019-06-18 12:27] bitc opened #166 "Why Haskell: Lazy Evaluation"
From the document [why-haskell.md](https://github.com/github/semantic/blob/master/docs/why-haskell.md):

The above sentiment about Haskell is often repeated, and it is my opinion that it is a complete myth (and to a certain extend FUD). It reminds me of the fear and objections people had regarding garbage collection, before it finally broke into the mainstream and became widely accepted ("GC can l

[2019-06-18 13:08] patrickt commented on #166
Hi there! That document speaks to our experience, no more, and we don’t claim it as an objective source of truth—as such, we won’t be modifying this choice of words. Non-strict evaluation is wonderful and we’re all _huge_ fans of the programming style it enables, but we’ve also needed to take measures (turning on `-XStrictData`, investing efforts in `fused-effects`’s constant-space Writer effect,

[2019-06-18 13:08] #166 closed

[2019-06-18 15:28] patrickt commented on #104
I took a look at `text-utf8`, and API-wise it’s exactly what we want, modulo the fact that Aeson insists on UTF-16.

[2019-06-18 16:15] patrickt commented on #165
This is made problematic by the fact that runtime environments matter. It’s not clear, given a chunk of arbitrary JS, whether it’s intended to run in Node, or in a browser, or to be compiled to wasm.

[2019-06-18 18:24] zfy0701 commented on #165
I would argue for JS, if package.json is presented, you could always assume it's in Node environment and have access to all the node/WASM library.

it's possible that the code is actually mean to be run in browser, in which case any reference to NodeJs will cause a runtime failure or a bundling failure. But before the bundling I think it's fine they reference whatever they want

[2019-06-18 18:50] patrickt commented on #165
These are the kind of assumptions we don’t want to make, I’m afraid. Semantic is not a tool for Node, it’s a tool for cross-language abstract interpretation: we shouldn’t give Node priority, especially given that the `webpack` and `browserify` tools allow deploying `package.json`-based applications to browsers. Privileging one JS environment over others isn’t the right choice, even if it would pro

[2019-06-18 21:34] robrix commented on #165
Just to reinforce what @patrickt’s said, the goal is for the caller to determine the assumptions they want us to analyze under: e.g. _this_ version of _that_ language with _these_ dependencies. We’re not quite there yet in general, but that’s the plan.

Longer-term (e.g. in a world post-#119), I’m hoping this will mean that we’ll have different stubs (at least) of standard libraries _represented a

[2019-06-19 22:38] patrickt opened #168 "API.DiffTreeVertexDiffTerm should not be a sum type."
The current definition is an uncomfortable hybrid of a message (a record type) and a field (a sum type):

[code]

To abide by protobuf standards, this should be closer to

[code]

which is much closer to the actual protobuf definition:

[code]

[2019-06-19 22:39] patrickt commented on #168
This is blocking #111.

[2019-06-20 00:28] robrix commented on #168
The product type has strictly less information than the sum type does. Is that gonna be ok?

[2019-06-20 01:37] #140 closed

[2019-06-20 04:37] patrickt commented on #168
Yes—indeed, we need it to hold less information for forward-compatibility. The case of `DiffTreeVertexDiffTerm Nothing Nothing Nothing Nothing` seems pathological but is entirely possible if we added a new alternative to the `oneof` within `diff_term`—consumers that hadn’t updated to see that new field should yield a term full of `Nothing`s. We can yield a nice API, however, with `-XPatternSynonym

[2019-06-20 14:03] robrix commented on #168
Gotcha. Thanks v. much @patrickt!

[2019-06-20 15:17] robrix opened #172 "Remove ts-parse CLI command"
`ts-parse` (implemented by the `Semantic.AST` module) dumps out the raw tree-sitter parse tree, which is useful when developing an `Assignment`. However, `Assignment` is going to go away, and thus so will the usefulness of this command.

It might still be desirable to spit out the raw parse tree as a rose tree while adding `field` annotations to a grammar in support of TH-generated precise ASTs, b

[2019-06-20 15:21] robrix opened #173 "Document the changes to the process for increasing language support due to precise ASTs"
We’re making it easier to add support for new languages & improve support for existing languages via the generation of precise ASTs in the per-language `tree-sitter-*` packages (cf https://github.com/tree-sitter/haskell-tree-sitter/pull/144). We should document the changes to the process as they become available.

[2019-06-20 15:22] robrix commented on #173
cc @aymannadeem who’s spearheading the precise AST derivation & un-marshalling work.

[2019-06-20 15:23] robrix commented on #173
I’m of two minds as to whether we should document what is involved in migrating one of our _existing_ supported languages from the old-style `Assignment` &c. flow to the new-style precise AST flow; I think we should instead add support for a new language using the new flow as an example, and then just migrate the old ones over ourselves as we develop support for existing features (e.g. diffing, ta

[2019-06-20 16:28] aymannadeem commented on #173
Thanks, @robrix! Like I've said in earlier discussions, I have bits of this written up and intend to [create a PR to the docs](https://github.com/github/semantic/blob/master/docs/adding-new-languages.md) once it's more fully in place. 😸

I agree with your proposal to (1) migrate existing languages to the new system ourselves and (2) change the docs to reflect the new system. 👍

[2019-06-20 18:19] patrickt opened #174 "Remove dependency on `mtl`."
When #170, which removes uses of `lift`, lands, we can move away from `mtl` and depend solely on `transformers`. The things that need to be done here are:
* changing Diffing/Algorithm/RWS.hs to use the `State` monad from `transformers` (easy)
* removing MonadError from Assignment (harder, but just due to tediousness)

[2019-06-21 13:57] #33 closed

[2019-06-23 19:38] zfy0701 commented on #165
Completely understand, another question I have and similar to this issue is how do you handle Java's dependencies, which is mostly bytecode. I'm not sure if you guys want to implement those mechnism inside semantic itself, so I think, maybe it's just simple to leave some options to the user. Say if I want to analyze ruby project depends ruby stdlib, I could provide a list of external symbols durin

[2019-06-24 12:32] robrix commented on #165
@zfy0701: Broadly yep, that’s the plan. Modular handling of dependencies is essential for performance, especially at scale, and maintaining that sort of separation is key to modularity.

Depending on the details of the analysis producing the symbols, it could be mechanically tricky, but that’s how we’ve been thinking about it 👍

[2019-06-24 14:24] mitchware-cfa commented on #134
Would this work also enable jump to call-site support for Kotlin? Does `semantic` work at the bytecode level?

Or would Kotlin support require additional modifications? Just trying to understand the scope of work needed :)

[2019-06-24 14:29] robrix commented on #134
@mitchware-cfa: `semantic` works from surface syntax, so Kotlin support would be its own thing. (I’ve oonsidered support for JVM bytecode but it would really only be suitable for some of the program analysis stuff, not most of the other features.)

[2019-06-24 18:11] patrickt opened #178 "Add scope graphing from the CLI."
This should be a matter of augmenting the options definition.

[2019-06-25 17:13] patrickt commented on #178
Turns out this is tricky because `runGraph` returns a `Graph (ControlFlowVertex)`, when in the scope graphing context we want to return a `ScopeGraph`. We should stick it inside some existential, I guess? Not sure. @robrix might have better suggestions.

[2019-06-25 17:23] robrix commented on #178
IMO we need to rethink most of the command-line interface anyway 😬

[2019-06-25 21:39] exoego opened #181 "Scala support"
As a Scala user, it would be benefical if semantic support Scala programming language.
https://www.scala-lang.org/

[2019-06-25 22:11] joshvera opened #182 "Python lambdas should not use Evaluatable Function"
Python lambdas do not close over their arguments so we should interpret them with a different `Evaluatable` instance than `Evaluatable Function`.

See https://docs.python.org/3/faq/programming.html#why-do-lambdas-defined-in-a-loop-with-different-values-all-return-the-same-result.

[2019-06-25 22:17] KevOrr opened #183 "[question] Are node types enumerated anywhere?"
Hi, I'm trying to ingest the JSON output from `semantic parse --json`, and I've been looking through the docs and source to see if there is a global list of predefined AST node types (the value that corresponds to a `term` key), and/or language-specific node types.

I've found [src/Data/Syntax/](https://github.com/github/semantic/tree/master/src/Data/Syntax), and it seems that just about every new

[2019-06-25 22:28] joshvera commented on #183
@KevOrr Each language's syntax is defined by a sum type when we assign a tree-sitter grammar to Haskell data types. Here's Ruby's [syntax sum type](https://github.com/github/semantic/blob/master/src/Language/Ruby/Assignment.hs#L42) for example.

That should suffice if you're trying to exhaustively match a particular language's syntax. If you're trying to match every language we support, you'll hav

[2019-06-26 16:07] patrickt opened #185 "Core needs more syntax/semantics to adequately represent Python"
This is a tracking issue for ongoing work w/r/t `semantic-python`, and the changes that we will need to Core (ideally the minimum viable set of changes) to get adequate information to yield useful scope graphs.

- [ ] Exception handling (`try`, `catch`, `finally`, `finally+else`, and `raise`)
- [ ] Early returns

[2019-06-26 16:54] KevOrr commented on #183
Ah, perfect, thank you

[2019-06-26 16:54] #183 closed

[2019-06-26 21:38] KevOrr opened #186 "String concatenation/concat-assignment with `.` is assigned incorrectly"
In [src/Language/PHP/Assignment.hs:269](https://github.com/github/semantic/blob/b4792db2528153d9d471877d6f35693e76f5dd28/src/Language/PHP/Assignment.hs#L269), both an expression like `"hello" . " world"` (concatenation) and one like `1 * 2` (multiplication) will be tagged as a `Times` term. Is this on purpose?

https://github.com/github/semantic/blob/b4792db2528153d9d471877d6f35693e76f5dd28/src/La

[2019-06-26 21:50] joshvera commented on #186
@KevOrr That sounds about right! Those both seem like bugs to me, I don't have time to take a look right now but it should be an easy fix.

[2019-06-26 23:33] KevOrr opened #187 "If/elif/else blocks are not assigned correctly"
I believe Python if/elif/else statements are being parsed incorrectly. E.g. (sample a)

[code]

<details>
<summary>parses as (minus source info) ...</summary>
<pre>
<code>
{
  "term": "Statements",
  "statements": [
    {
      "term": "If",
      "ifCondition": {
        "term": "Identifier",
        "name": "a"
      },
      "ifElseBody": {
        "children": [
          {
            "term":

[2019-06-27 14:31] patrickt commented on #186
I’m peeling this off into two separate bugs.

[2019-06-27 15:28] patrickt opened #188 "PHP strict inequality is not assigned correctly"
Via @KevOrr:

[2019-06-28 08:02] cyw3 opened #189 "Call graph vertices are not properly tagged with their unique ID"
What do source and target mean?

![image](https://user-images.githubusercontent.com/11549103/60327339-254ab600-99be-11e9-87ef-17e8e7a7c543.png)

![image](https://user-images.githubusercontent.com/11549103/60327190-d4d35880-99bd-11e9-9580-8fb293d0a4b2.png)

[2019-07-01 21:53] patrickt commented on #189
Hi there! These unique identifier numbers (which is what they are) are meant to correspond to vertices, but we’re not including these numbers in the vertices’ JSON objects. Good catch—we’ll fix this soon.

[2019-07-02 16:03] KevOrr commented on #186
Same thing with augmented assignment. A statement like `$i .= "a"` will be assigned `(Assignment ... (Times (VariableName (Identifier)) (TextElement)))`

https://github.com/github/semantic/blob/b4792db2528153d9d471877d6f35693e76f5dd28/src/Language/PHP/Assignment.hs#L228-L243

[2019-07-02 17:34] patrickt commented on #186
Changed the title to reflect the above. Anyone who wants to fix these can and should; the patches should be pretty minimal.

[2019-07-02 19:47] KevOrr commented on #186
@patrickt a new tag needs to be created right? Is it better to add it to Language.PHP.Syntax or Data.Syntax.Expression?

[2019-07-02 20:04] joshvera commented on #186
@KevOrr I’d go with `Language.PHP.Syntax` unless it’s a widely available piece of syntax.

[2019-07-02 22:03] patrickt commented on #189
@cyw3 We’ve fixed the issue you identified: vertices’ identifiers are now preserved in the vertex hash. Please feel free to comment here or open a new issue if you have more questions.

[2019-07-02 22:03] #189 closed

[2019-07-02 23:49] patrickt commented on #186
@KevOrr There’s a `StrictEqual` node in `Data.Syntax.Expression`.

[2019-07-03 16:07] #186 closed

[2019-07-03 20:58] #188 closed

[2019-07-05 12:35] dkasak opened #194 "Allow specifying language via flag"
Would you consider supporting a `--language` flag for the `diff` subcommand, similar to the one in `graph`? I know of the `FILE:LANGUAGE` syntax, but this sometimes clashes with colons in filenames and has to be specified for each file separately.

[2019-07-05 13:49] robrix commented on #194
Great idea 👍

[2019-07-05 13:53] dkasak commented on #194
I just realized I misspelled `parse` as `diff` in the title :grin: But I guess it would be a good idea to support it in all subcommands.

[2019-07-05 13:54] robrix commented on #194
Agreed! 😊

[2019-07-08 04:58] gregberns opened #196 "Could not resolve `tree-sitter-typescript`"
Just wanted to start playing around with the project and can't get it to build.
Installed `ghc` and `cabal` with `ghcup`, so I should have the most recent version. Ran the commands in the dev docs and got a dependency issue. I'm running on a Mac and `ghci` starts up ok. I haven't worked with `cabal` before so maybe theres something missing there? I've tried a couple things and this issue keeps cro

[2019-07-08 12:16] robrix commented on #196
@gregberns: you might need to do a `cabal new-update` first. Could you give that a try please?

[2019-07-08 14:49] gregberns commented on #196
@robrix That didn't seem to help. It seemed like the package list was up to date because it didn't take very long to update. I'm going to try and re-run from within a docker container, maybe there's something with my machine.

[code]

[2019-07-14 13:41] robrix commented on #196
@gregberns: It looks like you’re pulling from stackage, rather than hackage:

[code]

vs.

[code]

So this looks like cabal would need to be (re-)configured to use hackage.

[2019-07-15 06:03] gregberns commented on #196
@robrix thanks for the suggestion, it was a cabal issue. I kept on getting this error:

[code]

[These instructions](https://github.com/haskell/cabal/issues/5952) suggested deleting the `~/.cabal` directory, which did the trick:

[code]

Only thing was the build failed (after an hour) cause of documentation:
[code]

[2019-07-15 06:03] #196 closed

[2019-07-16 14:54] 2yz opened #198 "Incorrect methodContext and methodBody of method without return in Go"
Incorrect methodContext and methodBody of method __without return__ in Go.

Language: Go

Code:

[code]

the following code is part of parse result in json format

`methodBody` of `Print`

[code]

Expected `methodBody` should not be empty.

`methodContext` of `Print`

[code]

Expected `methodContext` should be empty.

semantic version 0.6.0.0 (9d1c0249c0029dcf7aadd9da6524ea62812dc181)

[2019-07-16 15:15] patrickt commented on #198
Looks like this is a bug in assignment. Thank you for reporting this!

[2019-07-20 15:36] KvanTTT commented on #156
Maybe it makes sense to use [Roslyn code analyzer](https://github.com/dotnet/roslyn) internally.

[2019-07-26 15:19] robrix commented on #168
Reopened by #205.

[2019-07-29 12:12] KevOrr opened #207 "CLI exits with return code of zero on parse error, even with flag set"
When running `semantic --fail-on-parse-error parse FILE`, it is expected that Semantic exit with a nonzero return code if the underlying tree-sitter parser ran into parse error(s) while parsing `FILE`. However, with any of the flags that turn on JSON output (`semantic --fail-on-parse-error parse [--json[-graph]|--[json-|proto-]symbols] FILE`), it will always exit with a return code of 0, even if t

[2019-07-29 14:34] robrix commented on #207
Good catch!

[2019-07-30 01:48] kcmannem opened #210 "Get line number and file info in call graph"
I really liked the jump-to functionality GitHub added recently. I learned that its build using this repository so I though I'd play around with it.

I'm wondering if there is a way to get line numbers and filenames from the call graph. That info might already be there, I might just not know how to read this syntax. I was going to use this to see if I could build my own primitive jump to extension

[2019-07-31 13:58] robrix commented on #210
I think you’re looking for `semantic parse --symbols`, e.g.:

<details>
<summary>Example output</summary>
<pre><code>$ cabal new-run -v0 exe:semantic -- parse --symbols test/fixtures/go/corpus/function-declarations.A.go | jq
{
  "files": [
    {
      "path": "test/fixtures/go/corpus/function-declarations.A.go",
      "language": "Go",
      "symbols": [
        {
          "symbol": "main",

[2019-07-31 14:26] #210 closed

[2019-08-02 07:55] jkoppel opened #214 "Generate datatypes of kind (* -> *) -> (* -> *) from Tree-Sitter syntax definitions"
@dcreager suggested I add this issue, after a long in-person discussion about what work could be shared between Semantic and the Cubix framework ( http://cubix-framework.com ), as they use strikingly similar technology for different goals.

He told me about @aymannadeem's work using Template Haskell to generate datatypes of kind `*` from Tree-Sitter definitions. Given that, it should be a small am

[2019-08-02 13:53] 2yz commented on #198
Is there any plan to fix this bug recently? And do you need help from us?

[2019-08-02 16:43] robrix commented on #214
**NB:** Edited the above to quote kinds since asterisks are interpreted by Markdown.

[2019-08-02 17:20] robrix commented on #214
@jkoppel: Thank you for the insightful note!

We’re definitely interested in extending the TH-generated datatypes to support more use cases; in particular, we’re thinking about how to represent diffs over these types, and it’s occurred to us that a higher-order functor might be suitable.

That said, it sounds like you’re specifically interested in sharing syntax datatypes between languages, and th

[2019-08-02 17:40] robrix commented on #198
@2yz: It’s not an immediate priority for us at this time, but we’d certainly be willing to review any PRs relating to it.

[2019-08-02 17:56] robrix opened #215 "sourceLineRanges is inconsistent with its spec"
`sourceLineRanges` and its spec differ in their opinions of carriage returns: https://travis-ci.org/github/semantic/builds/566542927#L1680-L1698

This wasn’t discovered until quite recently, so the test’s distribution clearly needs some shaping.

[2019-08-03 00:11] emlyn opened #217 "Clojure(Script) support"
Any possibility of adding Clojure/ClojureScript support?

[2019-08-03 00:34] jkoppel commented on #214
Ah, I see the confusion.

We're not interested in sharing syntax datatypes between languages, except to support dialects (e.g.: Hack vs. PHP, C vs. C++) and polyglot programming (e.g.: Jinja2, ERB, files containing PHP+HTML+JS+SQL). The big departure Cubix takes from older DLC approaches is to, instead of translating an entire syntax to generic components (which is very painful, as you've doubtles

[2019-08-03 15:55] robrix commented on #217
Clojure & ClojureScript aren’t at the top of our list right now, but we’re working on making it easier for third parties to add support for new languages to `semantic`. A good place to start would be by defining a `tree-sitter` parser for Clojure/ClojureScript; see for example the docs on [adding support for new languages][] and the [grammar development guide][].

[adding support for new languages

[2019-08-03 16:03] robrix commented on #214
Ahhhh thank you very much for clarifying! That makes a lot of sense.

Could you provide us with a couple of examples? e.g. right now if we generated datatypes like:

[code]

then higher-kinded datatypes would look more like:

[code]

but then what roles do `f` and `a` play? E.g. if this were syntax in `bound`, `f` would be the fixpoint & `a` the type of free variables, suggesting that we’d use `f

[2019-08-03 16:13] jkoppel commented on #214
Here are the examples for Statement and If:

data StatementL
data Statement e l where
  IfStatement :: e IfL -> Statement e StatementL
  ForStatement :: e ForL -> Statement e StatementL

data IfL
data If e l where
  If :: e <sort of condition> -> e <sort of consequence> -> e <sort of alternative> -> If e IfL

[2019-08-05 13:11] emlyn commented on #217
Thanks for the response. I've had a look around and found a couple of implementations [here](https://github.com/oakmac/tree-sitter-clojure) and [here](https://github.com/Tavistock/tree-sitter-clojure). I suppose the next step would be to add one of these to haskell-tree-sitter?

[2019-08-05 13:47] KevOrr commented on #173
Sorry if this is off-topic for this issue, but is there any estimate (even a very rough one) on when we might have precise ASTs?

[2019-08-05 15:07] dcreager commented on #173
Hi @KevOrr!  It might look like this is on the back burner since there haven't been any comments in over a month, but a couple of people on the team are actively working on this and we hope to have something ready soon.  No concrete timeline that I can commit, too, though.  Thanks for your patience!

[2019-08-06 08:19] ch3rn0v opened #218 "Export particular high-level functions as a library"
Hello! I wonder whether you plan to expose this project as a library, besides just a cli tool.
In particular, I'm interested in parsing files to ASTs (for which the function `parse` from src/Semantic/Task.hs seems responsible).

I found this package https://hackage.haskell.org/package/semantic , maybe it could be updated to export high-level functions to parse files into ASTs, generate call-graphs

[2019-08-06 11:42] patrickt commented on #218
Hi! Yes, we are planning to release Semantic both as a command line tool and as a library. We’re tracking it in this issue: https://github.com/github/semantic/issues/16

[2019-08-06 11:42] #218 closed

[2019-08-06 11:53] ch3rn0v commented on #16
The [longer answer](https://github.com/github/semantic/issues/16#issuecomment-497945749) mentions a number of tasks to be done. Are they outlined anywhere in a more detailed way, so that we could maybe take part in resolving them?

[2019-08-06 18:00] #56 closed

[2019-08-06 18:09] #215 closed

[2019-08-09 13:37] robrix commented on #217
Yep!

[2019-08-13 07:59] mpickering opened #226 ".ghci breaks new-repl"
The first line in the `.ghci` file breaks `cabal new-repl` if you have multiple versions of `pretty-show` in your cabal store.

[code]

[code]

[2019-08-13 15:16] patrickt commented on #226
This has happened to me (in a presentation, embarrassingly enough).
Is there a way to work around this?

[2019-08-13 15:20] mpickering commented on #226
Delete the line from the file :) ?

[2019-08-13 15:32] patrickt commented on #226
That is indeed a solution. I fear that @robrix might object to pretty-printing being off by default. But if it breaks ghci, then I find it difficult to enable by default; even hiding it behind `:pretty` and emitting a “To turn on pretty-printed output, type `:pretty`” warning.

[2019-08-13 15:36] patrickt commented on #16
#136 and #111 are the blockers that I know of.

[2019-08-13 20:37] patrickt commented on #37
This is also an option: http://llvm.org/docs/lnt/intro.html

[2019-08-16 15:38] KevOrr opened #231 "How to incorporate a forked tree-sitter parser"
Hi, recently I've ran into many issues with [tree-sitter/tree-sitter-php](https://github.com/tree-sitter/tree-sitter-php). I have a large PR waiting to be reviewed (https://github.com/tree-sitter/tree-sitter-php/pull/38). Unfortunately, I'm not sure the repo is being maintained anymore. Since I'm blocked on this, how can a forked version of one of the tree-sitter parsers be incorporated into (a lo

[2019-08-16 20:00] patrickt commented on #231
Firstly, my apologies for the delay in reviewing that PHP PR! I’ve pinged @maxbrunsfeld about squashing those CI errors; the patch looks good otherwise.

Until this PR lands easiest thing to do is to do what I’m doing in [this branch](https://github.com/github/semantic/pull/227/files): vendor a fork of tree-sitter-haskell and point that fork’s tree-sitter-php submodule at your fork. This isn’t gre

[2019-08-16 20:31] KevOrr commented on #231
No problem, like I said it's a large PR. You guys are doing awesome stuff

[2019-08-16 23:26] #231 closed

[2019-08-17 08:27] ilaborie opened #233 "Kotlin support"
As a Kotlin user, it would be benefical if semantic support Kotlin programming language.
https://kotlinlang.org/

[2019-08-17 19:20] warrenbuckley commented on #156
What can we the community do, to help move this forward @patrickt & @robrix ?

[2019-08-19 07:21] robrix commented on #226
This belongs in a user’s .ghci file instead of the project’s, IMO. Let’s :fire: it.

[2019-08-19 07:27] robrix commented on #156
Thanks for asking! Improvements to the C# parser are probably the first step, see https://github.com/github/semantic/blob/master/docs/adding-new-languages.md for more details.

There’s still more work to be done on the `semantic` side to actually generate tags for precise ASTs (vs. our existing support for à la carte ASTs), so that would be another step, albeit a more specialist one; to be clear,

[2019-08-19 16:11] pplam opened #235 "Parse error on java try/catch blocks"
When  parsing `java` code contains `try/catch` blocks, `semantic` output some warning as following
[code]
Given the input `Bar.java` code
[code]
And the result `tree.json`
[code]
Notice that the body of method `foo` is of term "Error" in the result json, so there should be some issues in semantic on this case. Please help me fix that, thanks very much!

[2019-08-19 18:38] jongalloway commented on #156
I saw there's a partially complete tree-sitter for C# here: https://github.com/tree-sitter/tree-sitter-c-sharp

[2019-08-23 10:38] Neppord commented on #18
I tried to build on windows and after finding this issue I'm not surprised that it did not work :).

I'm posting my result here for reference.
[code]

[2019-08-23 12:48] patrickt commented on #18
Yup, looks like we need to divest the library core from the `unix` package. This will be feasible once we tackle #136, as the only usages of the `unix` package are in the CLI tooling.

[2019-08-26 13:56] patrickt opened #236 "Update to GHC 8.8"
Now that [GHC 8.8.1](https://www.haskell.org/ghc/blog/20190825-ghc-8.8.1-released.html) is released, we should consider upgrading. We may need to wait for our various dependencies to undergo their required bumps.

[2019-08-30 20:41] petrroll commented on #156
Speaking of grammars and generated, there's official and _up to date_ grammar for C# generated here: https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/Generated/CSharp.Generated.g4

[2019-09-03 09:22] Patil2099 commented on #187
@patrickt Can I work on this issue? Also, Which File I have to correct?

[2019-09-03 09:24] Patil2099 commented on #182
@joshvera  Can I Work on this Issue? Where do I have to make changes?
Thanks

[2019-09-03 14:00] robrix commented on #187
@Patil2099: Absolutely! It’s most likely occurring in the `Language.Python.Assignment` module: https://github.com/github/semantic/blob/master/src/Language/Python/Assignment.hs

[2019-09-03 20:21] KevOrr commented on #187
I'm not too familiar with the Semantic's parser combinators, but my intuition says that this line might be what's causing both the `elif` and `else` to be assigned as `ifElseBody` children:

https://github.com/github/semantic/blob/7fc70fdd595582c2901a66af20529cb02efe4370/src/Language/Python/Assignment.hs#L473

[2019-09-05 03:00] UltimateBeaver opened #237 "JSX parse error with multi-line attribute"
Semantic team,

First of all, thank you very much for open sourcing this awesome tool! When I was parsing the react project with semantic CLI, I got a parse error for the following file: https://github.com/facebook/react/blob/master/fixtures/dom/src/components/fixtures/selection-events/index.js

Here is the error message when I invoke the CLI with the `--json` option:

[code]

After tweaking the o

[2019-09-05 03:11] patrickt commented on #237
Thank you for the detailed bug report! This looks to me like a `tree-sitter-tsx` bug; I’m transferring it over there.

[2019-09-05 03:15] patrickt commented on #237
This lives over here now: https://github.com/tree-sitter/tree-sitter-typescript/issues/74

[2019-09-05 08:50] pplam commented on #235
@patrickt I tried tree-sitter-java, it works fine, the result:
[code]

[2019-09-05 19:52] tclem commented on #235
From the original error, I believe this is an assignment issue in semantic. The `try_statement` is assigned [here](https://github.com/github/semantic/blob/master/src/Language/Java/Assignment.hs#L454-L455) and my first guess is that `symbol TryStatement *> children tryWithResources` is consuming the `TryStatement` too soon - we need to alternate between a normal try and a try with resource _after_

[2019-09-06 14:30] robrix commented on #236
cf https://github.com/joshvera/proto3-suite/pull/33, blocked on https://github.com/ekmett/lens/issues/845

[2019-09-06 15:25] patrickt commented on #235
Aha, I was wrong!

[2019-09-06 18:26] robrix commented on #235
Fixed by #238.

[2019-09-06 18:26] #235 closed

[2019-09-07 21:23] defreez opened #240 "Can the parse timeout be configured?"
When I try to parse files that are large (e.g. 7k lines of JS), I receive the following error after a few seconds:

[code]

This is with the `sha_c1486db42dcbcc0a7748fc759017ab8d30d0f2d1` docker image.

Is there a way to adjust this timeout? Thanks!

[2019-09-08 00:51] tclem commented on #240
Yes! There are a couple of different timeouts that are configurable and here's where most [configuration is tracked](https://github.com/github/semantic/blob/a9365c667c5dc92c0965fa5956f2b0ee7c344c59/src/Semantic/Config.hs).

The timeout from the error message you posted is controlled with the `SEMANTIC_ASSIGNMENT_TIMEOUT` environment variable (it's in milliseconds) so you could do something like th

[2019-09-08 01:09] defreez commented on #240
Works like a charm, thank you so much!

[2019-09-08 01:09] #240 closed

[2019-09-09 19:36] patrickt opened #241 "Document environment variables"
The discussion in #240 reminded me that we should write these options and what they do down in `/docs` somewhere.

[2019-09-10 23:37] Et7f3 opened #244 "handle language server protocol( to have OCaml support.)"
Hy,
[reason-language-server](https://github.com/jaredly/reason-language-server) implement language server protocol. Rls handle jump to definition for ReasonML/OCaml and it is widely used in many IDE. Does semantic will support lsp so we can add ReasonML/OCaml support.

[2019-09-11 00:22] robrix commented on #244
LSP doesn’t provide enough information for us to use it as an input source, unfortunately.

[2019-09-11 00:22] #244 closed

[2019-09-11 01:29] patrickt commented on #244
We have an issue tracking native OCaml support [here](https://github.com/github/semantic/issues/138).

[2019-09-11 19:18] patrickt opened #245 "Explore how to do FileCheck-style queries over Core terms"
For the semantic-python test suite, we’ve instituted a FileCheck-esque syntax, allowing us to put `jq(1)` statements that let us make assertions about the shape of some translated Python code and its heap/scope graphs:

[code]

Unfortunately, as should be apparent, the serialization format for `Core` trees is not very user-friendly, as it is derived via the `Generic` instance, and what is natural

[2019-09-11 20:03] dcreager commented on #245
I love this idea!  I think a good place to start would be a document describing (and committing to) what the JSON rendering would look like.  I'd even go further and say that document should be the canonical definition of the Core language, and would (eventually) include the user-facing descriptions of what each Core team means and how it can be used.

[2019-09-14 19:47] exterm opened #249 "`cabal new-test` not working on a clean checkout"
Hi,

I am trying to follow the instructions from the README, but `cabal new-test` yields

[code]

I don't know how this is _supposed_ to work, but I would guess that this is unexpected? `cabal new-run semantic -- --help` works fine.

This is on an up-to date 2015 MacBook Pro.

[2019-09-16 13:46] robrix commented on #249
Definitely unexpected, unless maybe you’d done a `cabal new-configure --disable-tests` previously in the package? Tho even then I’d be surprised that `new-test` would be bothered about that.

What does `cabal --version` have to say for itself?

[2019-09-16 13:49] robrix commented on #249
I just tried `cabal new-configure --disable-tests` followed by `cabal new-test` and I am indeed surprised.

I think this is therefore a `cabal` thing rather than a `semantic` thing, and that your best bet is one of:

- `cabal new-test --enable-tests`,
- `cabal new-configure --enable-tests ; cabal new-test`, or
- remove anything along the lines of `tests: False` from `cabal.project.local` or possib

[2019-09-16 13:50] robrix commented on #249
(removed the `bug` label for now because while this is clearly not the behaviour you desired, I don’t currently believe it to be a bug in `semantic` itself)

[2019-09-16 20:54] exterm commented on #249
I did not execute `cabal new-configure --disable-tests`, I just followed the [steps from the README](cabal new-configure --disable-tests ) to the letter 🤷‍♂

[code]

I _think_ `cabal new-test --enable-tests` mostly works (it gives me a metric ton of output), but it ends with

[code]

[2019-09-16 20:54] exterm commented on #249
Thank you for looking into this 🙏

[2019-09-16 21:02] robrix commented on #249
Could you post the test suite output please? Looks like it was written into `/Users/philipmueller/src/github.com/github/semantic/dist-newstyle/build/x86_64-osx/ghc-8.6.5/semantic-0.7.0.0/t/parse-examples/test/semantic-0.7.0.0-parse-examples.log`.

[2019-09-16 21:30] exterm commented on #249
[semantic-0.7.0.0-parse-examples.log](https://github.com/github/semantic/files/3618276/semantic-0.7.0.0-parse-examples.log)

[2019-09-17 13:24] robrix commented on #249
For future reference the thing where `new-test` requires an explicit `--enable-tests` is due to the specific version of the `network` package that we depend on (????).

[2019-09-17 15:53] robrix commented on #249
Can repro the test failure too.

[2019-09-17 16:42] patrickt commented on #249
I can’t reproduce this 🤔

[2019-09-17 16:46] patrickt commented on #245
The problem with tying a JSON representation to Core itself is that the convenient representations of JSON are lossy. For example, the easy thing to do for a function body is represent it as a list of statements, but doing so loses the scope information associated with the `:>>=` operator. I can see situations where we’d need both kinds of information. I’m not sure yet how to solve this; perhaps o

[2019-09-17 16:46] robrix commented on #249
@patrickt: Which part?

[2019-09-17 16:48] robrix commented on #245
Agreed, the ideal representations for testing & interchange may be in tension. I’m honestly not sure.

[2019-09-17 18:05] #249 closed

[2019-09-18 14:01] patrickt opened #255 "Reenable Java assignment."
In #247, which we wanted to land so as to push out a new `semantic` to upstream services, we disabled Java assignment, reasoning that Java is not yet an officially supported language and that it wasn’t worth holding up the whole enterprise to fix assignment changes from upstream parser changes. We should fix said assignment changes and add it back to `semantic.cabal`.

[2019-09-18 14:05] patrickt opened #256 "Upgrade to latest tree-sitter-typescript grammar"
Code like this:

[code]

changed in shape here: https://github.com/tree-sitter/tree-sitter-typescript/commit/c5144ebf699e359555820502aab048cb9d28d34d

[2019-09-18 17:05] robrix commented on #256
@maxbrunsfeld mentioned he fixed the grammar which should probably take care of it.

[2019-09-18 19:30] patrickt commented on #256
Changing this bug’s title since the original issue was spurious (due to a bug in #247) but it did result in a grammar change upstream.

[2019-09-19 20:29] robrix opened #263 "1-indexed Spans are fiddly"
`Pos` is 1-indexed, which means so is `Span`, which is fiddly:

- we have to increment the line & col we get from tree-sitter
- any time we’re using them for actual computation (e.g. slicing up source) we have to decrement them appropriately
- but then be careful not to use the decremented values in another `Span` without re-incrementing
- and so on

I think we should make all of this 0-indexed, a

[2019-09-20 13:16] patrickt commented on #256
Fixed.

[2019-09-20 13:16] #256 closed

[2019-09-20 13:17] robrix commented on #256
@patrickt: When was this fixed?

[2019-09-20 23:18] tclem commented on #207
Agree this is confusing!

I think I might vote to remove `--fail-on-parse-error` and `--fail-on-warning` altogether in a future version. These switches were added to aid in some integration level testing that has since moved to [haskell](https://github.com/github/semantic/blob/e96832f61e1fca78cbf12c9951d9c002d7acdb4e/test/Examples.hs) instead of shell scripts. The reason they don't fail hard right

[2019-09-25 19:27] j-haj commented on #241
I would be happy to tackle this. As far as I can tell there are only three environment variable lookups. Does this seem about right?

[2019-09-25 20:24] patrickt commented on #241
@j-haj Yup, that’s it so far. We’d be very indebted if you’d write this up.

[2019-09-26 20:06] tclem commented on #17
Not quite the same thing, but we are now [publishing docker images](https://github.com/github/semantic/packages/11609).

`docker run docker.pkg.github.com/github/semantic/semantic`

[2019-09-26 23:20] Et7f3 commented on #244
@jaredly can you provide mode information in README to enable goto support on github ?

[2019-09-27 03:26] #19 closed

[2019-09-27 03:26] #20 closed

[2019-09-27 03:26] #194 closed

[2019-09-29 18:27] patrickt opened #288 "Finish migrating to `pathtype` library."
The migration to `pathtype` has been overall a pleasant one—it makes functions much more indicative of their purpose, and it’s caught some bugs (though not serious ones). Right now we’re an uneasy hybrid of `pathtype` solutions and `FilePath`; we should move off of the latter completely. This involves overhauling `Semantic.CLI` to use `pathtype`; the [documentation](http://hackage.haskell.org/pack

[2019-09-29 19:20] patrickt opened #289 "Copy `prj` from fused-effects-0.5 into internal effect handlers."
Because https://github.com/fused-effects/fused-effects/pull/223 is coming down the line, I want to make sure that we have a navigation path forward for what we’ll do about `Interpose`. I’d prefer not to merge the above until we can be sure that we won’t break `semantic` too badly.

[2019-09-29 19:35] robrix commented on #289
IMO these are orthogonal—we define our own `Control.Effect.Interpose` locally (which we can 🔥 at our leisure), and while `prj` is indeed coming from `fused-effects`, we can simply copy the old definition of the class in somewhere—it’ll work unchanged.

[2019-09-29 21:28] patrickt opened #290 "`semantic parse --gitDir` mangles filenames with UTF-8 multibyte characters"
Given a project that looks like this:
[code]

Running `cabal exec semantic -- parse --json --gitDir /tmp/whatever/.git --sha HEAD` yields the following output:

[code]

Clearly, that `"path": "æ¥æ¬èª.py”` is not what we want to see here. This also happens with `--proto-symbols` output, but it does not happen without the `--gitDir` option (as the bug lies around the invocation of `git ls-tree`).

[2019-09-30 15:39] patrickt opened #292 "`semantic parse --gitDir` will behave poorly in the presence of non-UTF-8 filenames"
In our parsing of `git ls-tree`, we assume that all filenames are in UTF-8 (by virtue of the output having come from `shelly`). This is not technically true: the filename can be stored as any encoding. This is a pretty small edge case, but it would be remedied by implementing #58.

[2019-09-30 18:20] #146 closed

[2019-09-30 20:25] #290 closed

[2019-10-02 00:15] patrickt opened #299 "Use precise error types rather than `Error SomeException`"
The use of `Error SomeException` is, in my estimation, an antipattern. It makes it too difficult to have fine-grained, principled extension boundaries. We should only use `Error` on recoverable exceptions, and we should use `throwIO` or a `Fatal` effect to throw uncatchable errors.

[2019-10-02 01:59] #241 closed

[2019-10-02 14:20] robrix commented on #299
One thing I like about `Error SomeException`: it allows us to make it clear that we’re able to `throwError`/`catchError` without us having to coordinate all the different errors that can be thrown. That’s kinda nice.

But, on the whole I think I agree; and for recoverable errors in particular, we should try to handle them _completely_ as soon as possible, i.e. in `Semantic.Api.Terms` we use `catch

[2019-10-03 17:15] #89 closed

[2019-10-04 21:44] patrickt commented on #168
Fixed by #296.

[2019-10-04 21:44] #168 closed

[2019-10-04 21:45] patrickt commented on #111
Closed by #296.

[2019-10-04 21:45] #111 closed

[2019-10-04 21:46] patrickt commented on #32
Partially addressed by #308.

[2019-10-09 04:02] BlankRain commented on #92
thank you @patrickt

[2019-10-09 14:42] robrix commented on #255
We’ve got support for tagging using the precise ASTs as of #293, which I think subsumes this.

[2019-10-09 14:42] #255 closed

[2019-10-09 14:44] robrix commented on #134
The library supports parsing & tagging Java using precise ASTs as of #293 🎉

[2019-10-09 18:45] bdrodes opened #321 "Docker Build Error"
The docker image fails to build on mac using the following command issued from within the semantic home directory:

[code]

Fails on step 17 with the following message:

[code]

[2019-10-09 18:58] patrickt commented on #321
Looks like the invocation of `cabal new-configure` is bad: it should contain all the relevant subprojects.

[2019-10-09 21:37] tclem commented on #321
Should we even be calling `new-configure` in the dockerfile to begin with? Also, I think that [Dockerfile](https://github.com/github/semantic/blob/1034cd5e39e640bcea91feae04b76c397c1b1421/Dockerfile) is expecting that docker layer caching is going to help our build times (but it probably isn't).

[2019-10-10 13:21] robrix commented on #321
1. Looks like we’re not passing it any flags there, so it’s kind of pointless.

2. We should probably use `v2-` instead of `new-` everywhere, because it’s forward-compatible, whereas `new-` could potentially change meaning over time.

[2019-10-10 21:47] #321 closed

[2019-10-11 15:32] bdrodes opened #330 "`languageForFilePath` doesn’t recognize .php files."
Using the docker invocation of semantic parse, on a test php file fails with `NoLanguageForBlob`:

` docker run --rm -v "<dir_of_test_file>:/mnt:ro" "semantic" --fail-on-parse-error parse --json "/mnt/test_func_def.php"`

test_func_def.php
[code]

Results in:

[code]

The parse help does not indicate any way of specifying a language as there is for 'graph':

[code]

Is there a missing option or is

[2019-10-11 16:13] patrickt commented on #330
This is a bug on our end (https://github.com/tclem/lingo-haskell/issues/3). Workaround incoming.

[2019-10-11 20:34] #330 closed

[2019-10-11 20:34] patrickt commented on #330
Need to put out a new docker release, but this is fixed.

[2019-10-11 21:36] robrix opened #337 "Concrete analysis hard-codes record lookup strategies"
These often differ by language, so they should really be handled by the compiler instead of being determined by the analysis.

[2019-10-15 12:10] clubbingbabyseals opened #341 "Docker build broken"
Tried building on Mac using docker.

Typed:
[code]
[code]

[code]

Says semantic-analysis does not exist

[2019-10-15 15:35] patrickt commented on #341
Thanks for finding this! Patch incoming.

[2019-10-15 15:42] robrix opened #343 "Build the docker image in CI"
We’ve had a few docker build errors crop up (cf #321, #341). Let’s try to avoid those by building the docker image in CI.

Note that we probably don’t want to hold up PRs with this in general (cf #88), so it should probably:

1. be a separate job from the tests; and
2. not be a required status for merging.

[2019-10-15 15:53] #341 closed

[2019-10-15 16:40] patrickt commented on #236
Since we no longer use proto3-suite, we don’t need to worry about that one, but we do need to wait for proto-lens to loosen its base dependency: https://github.com/google/proto-lens/issues/341

[2019-10-22 15:54] #137 closed

[2019-10-22 21:42] patrickt opened #356 "readProjectFromPaths has weird semantics"
This function, as @robrix pointed out, is a little weird: its second parameter can be a file path rather than a directory, in which case the resulting project’s root is the parent directory of the provided file—and all files, not just the provided file, will be slurped into the resulting project. This is unintuitive behavior that we preserved because we were afraid to change the CLI interface, and

[2019-10-23 15:57] patrickt opened #358 "Is quasiquotation in Core a good idea?"
Today @robrix and I found ourselves attempting to implement an `record.?key` operator in core that would return Church-encoded `Maybe` values (since Core lacks data types) corresponding to the presence in `key` in `record` (aka `Map.lookup`). We ran into an implementation difficulty: the querying operation returns a `Maybe address` value, purposely kept abstract, and as such there’s no way to prom

[2019-10-23 16:47] robrix commented on #358
This would capture the concretization of abstract domains pretty completely: we could get rid of `asBool` &c. Note that we’d actually be quasiquoting abstract domain values back to a subset of core, namely literals—tho we _might_ be able to extend that notion as far as lambdas?

[2019-10-23 16:48] robrix commented on #358
I _have_ wanted to treat the galois connection more formally…

[2019-10-23 18:10] #292 closed

[2019-10-23 18:11] patrickt commented on #58
This is no longer a feature and thus no longer applies.

[2019-10-23 18:11] #58 closed

[2019-10-23 21:24] patrickt opened #362 "Scope graphing Core terms doesn’t handle `rec` nodes correctly"
A conversation in a Slack:

This means that `jq` queries don’t work over any `rec` construct that uses its binding recursively.

[2019-10-25 05:11] XVilka commented on #236
Homebrew now has 8.8.1, along with some other distributions:
https://repology.org/project/ghc/versions

[2019-10-25 14:19] robrix commented on #362
More precisely, analyses which enter function bodies eagerly (like scope graphing or typechecking) evaluate the recursive binding which hasn’t yet been initialized (it gets initialized at the very end of the `rec`). Concrete & import graphing don’t suffer this because they model functions as closures, and thus don’t analyze the function body at all until they reach a call site.

There are more and

[2019-10-25 19:28] patrickt opened #364 "Unit test framework for compiled Core programs"
The FileCheck-esque testing framework for `semantic-python` fixtures has proven versatile. However, it doesn’t offer a pretty fundamental characteristic: the ability to run a compiled program and verify its output. This is because I haven’t needed it up until now: it was sufficient for me to specify exactly what output I expected.

I now want not just to test output but behavior. For example, I ne

[2019-10-25 19:31] patrickt commented on #364
Whatever does this needs to page the contents of `Prelude.score` into this program, so that we can access `__semantic_prelude.getitem()`

[2019-10-30 12:14] bdrodes opened #366 "Docker Build Failure"
Unable to build a docker image on Master.

[code]

[2019-10-30 12:30] robrix commented on #366
Guessing we forgot to add a copy line to the script when `semantic-ast` was added to the project.

[2019-10-30 13:22] Kingloko commented on #330
@patrickt any news on when the new docker-release should be out?
Most recent I can see is 0.8.0.0 which doesnt have this fix in yet.

[2019-10-30 19:34] patrickt opened #371 "Allow updating Core records with new fields"
Assuming `a` is a record and `c` is an already-bound value, this reasonable-looking code:
[code]
fails under concrete evaluation, because it attempts to lookup `a.b` first, which makes it croak. The Python stuff needs to be able to assign to fields that don’t yet exist, since `__slots__` is a thing.

[2019-10-30 19:40] patrickt opened #372 "Docker build has lost the Git SHA"
#367 made building the Docker images much faster, at the cost of losing the SHA information associated with git. We should fix this passing a preprocessor flag (`-DSHA` or something to `cabal v2-build` in the Dockerfile) during release builds, rather than relying on `$(gitHash)`.

[2019-10-30 19:42] patrickt commented on #330
@Kingloko We’re planning to push a new one out as soon as https://github.com/github/semantic/issues/372 is fixed.

[2019-10-31 13:21] Kingloko commented on #330
Thanks @patrickt!

[2019-11-03 23:57] HurricanKai opened #375 "C# Tree sitter required?"
Regarding #156
Looking through what has to be done to add C# support to this project, I'd like to ask if it is absolutely necessary to build a separate Tree Sitter here. The C# compiler Roslyn was made specifically to open up the compiler and give anyone access to every level of it's understanding of the code. In addition to the (hopefully) smaller work required (C# is quite a complex language aft

[2019-11-04 01:19] patrickt commented on #375
Hi there. We field this question, or varieties of it, a lot, and it’s fair: there does exist significant programming language tooling outside of Semantic that could help us in our aims.

But ultimately, as was discussed in [this issue](https://github.com/github/semantic/issues/165), we’re not interested in tying our analysis techniques to the capabilities of a given language’s compiler, toolset, o

[2019-11-04 01:19] #375 closed

[2019-11-04 19:20] robrix commented on #358
One problem with this is that it would require some sort of coordination between Core and the abstract domains, which we’ve thus far tried to rule out completely by making `semantic-analysis` a separate package.

We might be able to work around this by using an intermediate representation of values which the analysis and Core can agree on:

[code]

(This would likely need to be parameterized by th

[2019-11-04 19:31] patrickt commented on #156
Converting the above grammar to tree-sitter would be straightforward, if uninteresting, to do manually, and could possibly be automated.

[2019-11-05 01:16] maxbrunsfeld commented on #237
This code parses fine with `tree_sitter_tsx` now. It may already be fixed in Semantic since we've recently upgraded `tree-sitter-typescript`. If not, maybe we need to upgrade again?

[2019-11-06 18:24] robrix opened #378 "Python tagging differs between à la carte & precise"
Found by @tclem, IIRC when comparing the results for the parse-examples stuff.

We’d expect code comments to be present in à la carte tags (perhaps incorrectly), and for parse errors to prevent tagging with precise ASTs, but they should otherwise be the same.

[2019-11-07 16:45] tclem commented on #378
I haven't opened a PR yet, but [here's the branch](https://github.com/github/semantic/compare/test-precise-parsing) that demonstrates some of the differences.

[2019-11-07 19:14] #372 closed

[2019-11-07 20:33] patrickt commented on #330
@Kingloko This release should suit you right: https://github.com/github/semantic/packages/11609?version=0.9.0.0

[2019-11-08 20:14] cgay commented on #217
Since Clojure has [macros](https://clojure.org/reference/macros), how will this work? It seems to me that for any language with macros that allow creation of new syntactic constructs (any Lisp dialect, Julia, Rust (?)) it would be far easier to use a client / server architecture (like I believe Kythe has) so that the AST generators that have already been written for those languages can be leverage

[2019-11-09 05:01] patrickt commented on #217
@cgay It is as of yet an open question as to how we’ll deal with languages that support truly arbitrary rewritings of their syntax (e.g. C with the preprocessor). Whatever we do, we’ll end up aiming for the happy path—we may not be able to understand every possible macro invocation, but we should at the very least be able to handle most real-world code, especially given that tree-sitter parsers co

[2019-11-09 05:56] cgay commented on #217
For Common Lisp I believe it's literally impossible to do a perfect job finding cross references unless you **are** the Common Lisp compiler, since arbitrary code can be run to generate new code at macro-expansion time.

Dylan (and I believe Scheme) is a little more amenable since its macro system is just a pattern matcher, but I think for Dylan you'd need to basically re-implement the macro expan

[2019-11-11 19:14] damieng commented on #156
@patrickt I actually tried converting the ANTLR DSL grammar to tree-sitter a couple of years back but there are a whole bunch of issues it causes documented in the tree-sitter docs here https://tree-sitter.github.io/tree-sitter/creating-parsers#writing-the-grammar

[2019-11-11 19:17] damieng commented on #156
I'm going through the C# tree-sitter grammar this week to document the missing pieces so they can be put 'up for grabs'.  There's not much left to do but some of the actual statement-level stuff requires some thought around order of prescience that isn't part of the official C# grammar so needs to be figured out.

[2019-11-12 17:45] dijonkitchen commented on #217
Can https://github.com/Engelberg/instaparse help?

[2019-11-14 14:06] jimhester opened #382 "R support"
R is a [widely used](https://stackoverflow.blog/2017/10/10/impressive-growth-r/), growing language often used in Data Science and Statistics.

While it does not have a published formal specification, there is a [draft specification](https://cran.r-project.org/doc/manuals/r-release/R-lang.pdf) that describes lexing and parsing the language.

In the most [widely used implementation](https://github.c

[2019-11-15 08:34] Danielku15 commented on #156
The ANTLR Grammar in the Roslyn repo is generated with [this tool](https://github.com/dotnet/roslyn/blob/7bc44488c661fd6bbb6c53f39512a6fe0cc5ef84/src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/Grammar/GrammarGenerator.cs).

I think the goal should be to use the roslyn capabilities to auto generate as much as possible to keep everything up to date with the evolution of C#. May

[2019-11-15 09:45] petrroll commented on #156
I the the grammar is automatically updated but @CyrusNajmabadi should know more.

[2019-11-15 14:14] XVilka commented on #382
A first step would be creating a [tree sitter](https://tree-sitter.github.io/tree-sitter/) grammar for R. See more in their [documentation on creating new parsers](https://tree-sitter.github.io/tree-sitter/creating-parsers).
After that, the hardest part begins - implementing the semantic part: https://github.com/github/semantic/blob/master/docs/adding-new-languages.md

[2019-11-15 20:26] CyrusNajmabadi commented on #156
"I the the grammar"?

[2019-11-15 20:28] CyrusNajmabadi commented on #156
Let me know what info i can assist withj.  as @petrroll mentioned, i wrote the tool to take the official syntactic model for the Roslyn C# system to produce the .g4 grammar for it.  I'm also well versed in the actual official language-spec grammar, the defacto parser impl, as well as tons of the quirky corner cases the language has that make it interesting for parsing tools.

Cheers!

[2019-11-15 20:29] CyrusNajmabadi commented on #156
The grammar is maintained.  In fact, it's generated *from* the actual impl that us used by roslyn to parse and produce a syntactic model used by teh compiler and IDE tooling.  So, in effect, this grammar is the most real representation of what C# actually is.  i.e. the spec might be incorrect or out of date.  This grammar is truly what roslyn is saying its syntactic model can represent.

[2019-11-15 20:36] CyrusNajmabadi commented on #156
Looking at tree-sitter, my grammar is definitely not applicable.  For example, it's not LR(1).  I despise systems that enforce these sorts of arbitrary restrictions on your grammar.  It's not hard to parse arbitrary CFGs.  We're not in the 60s where it was absolutely critical to save every byte, and things like lookahead would kill your performance.  We have the perf to generate parsers from arbit

[2019-11-15 21:09] petrroll commented on #156
I the grammar need more sleep otherwise I start dropping random words in sentences.

[2019-11-15 22:00] damieng commented on #156
That's what https://github.com/github/semantic/issues/156#issuecomment-552575315 was getting at.

I'm going to go through tree-sitter-c-sharp and break out the remaining pieces. If we want C# syntax parsing it's the quickest way forward. It is probably 75-85% done.

@CyrusNajmabadi if you look into the tree-sitter docs you'll see why this approach was taken.  Tree-sitter is an incremental parser o

[2019-11-18 17:29] tclem commented on #382
Definitely start with a tree-sitter parser.

This is about to get much, much easier as we are almost entirely automating the semantic part. My advise would be to get the tree-sitter grammar in good shape and then check in again with the team so see if we can use the new path for supporting languages in semantic.

[2019-11-20 19:20] Congee commented on #92
same error with `cabal new-build`. My cacal-install has version 3.1.0.0

using HEAD 9764d4f79d3cd733df3b532b06bb48257a8f54b9

[2019-11-20 21:19] patrickt commented on #92
@Congee Have you tried a `cabal update` before running the build? The `tree-sitter-typescript` package is on Hackage, so it should be visible if you’ve got an up-to-date package index.

[2019-11-20 22:06] Congee commented on #92
@patrickt that was a prompt reply. I did with no luck. What else can I do to help solve or debug this issue?
<details><summary>log</summary>
<p>

[code]
</p>
</details>

[2019-11-20 22:08] Congee commented on #92
Is it because my ghc is too new? I'll try 8.6.5

[2019-11-20 22:11] Congee commented on #92
This line is interesting.

base^>=4.12.0.0)

It starts building after I switched to 8.6.5

[2019-11-27 15:30] fenig opened #387 "Docker build error, cabal returns 137"
I'm trying to build a docker image on mac, with:

[code]

The build fails at step 14 with the cabal returning 137.

[code]

I couldn't find anything about cabal and error code 137. I tried reverting back to a commit that was supposed to have fixed a different docker build issue, but that one fails too. Am I missing something?

[2019-11-30 00:59] jraah542 commented on #57
Analysis

[2019-12-01 15:43] peddanet commented on #196
@gregberns Thanks a lot, this was after long search the first solution which resolved this errorneous behaviour. Now I finally can work on!

Why is there only this hidden workaround?

[2019-12-01 19:05] damieng commented on #156
The C# tree-sitter grammar is now parsing 99.7% of the source files that make up two popular good-sized .NET libraries (JSON.NET and NUnit).

[2019-12-02 00:19] tclem commented on #387
Exit code 137 is an out of memory error code on Linux. You might try to increase the memory available to Docker and then try again.

[2019-12-02 15:30] patrickt commented on #387
Yup, this is an OOM. I'm going to close this, but please leave further comments if you keep encountering this issue given an appropriate amount of memory available to the build (ideally at least 8GB RAM).

[2019-12-02 15:30] #387 closed

[2019-12-02 20:56] fenig commented on #387
Thanks! I gave docker 8GB and it finished building the image without further issues.

[2019-12-03 05:48] 2yz commented on #382
Is the new path for supporting languages available soon?

[2019-12-04 13:01] tclem commented on #382
I don't have a specific timeline to give you, but you can see an [example for java](https://github.com/tree-sitter/haskell-tree-sitter/blob/master/tree-sitter-java/TreeSitter/Java/AST.hs) and [python](https://github.com/tree-sitter/haskell-tree-sitter/blob/master/tree-sitter-python/TreeSitter/Python/AST.hs) of what's required to generate code from the new `node-types.json`. Obviously part of the w

[2019-12-06 09:49] RasmusWL opened #390 "List available languages if --language arg is wrong"
For example,

[code]

I immediately tried `python3` and then `Python3`, before I arrived at the magical `Python` :sparkles:

Would be great if the CLI could list what values _are_ valid. Essentially these lines

https://github.com/github/semantic/blob/9764d4f79d3cd733df3b532b06bb48257a8f54b9/src/Data/Language.hs#L136-L150

[2019-12-06 17:26] robrix commented on #196
@peddanet tbh I have no idea how `cabal` gets into a state where it pulls only from stackage in the first place. Whatever the case, there’s not a lot we can do about configuration, except maybe document this somewhere.

[2019-12-06 17:28] robrix commented on #390
Good call. I think `optparse-applicative` should make this pretty easy.

[2019-12-06 17:29] robrix commented on #217
Yes, this is (an example of) why `semantic` does program analysis.

[2019-12-06 18:16] patrickt commented on #196
@robrix I suspect it may be installed from the Haskell Platform, or some FPComplete distribution, or perhaps an odd package manager.

[2019-12-06 18:53] patrickt opened #391 "`semantic graph` language inference is broken"
As reported by @RasmusWL. I’m fairly sure that https://github.com/github/semantic/pull/355 caused this regression. It’s not critical, but we should fix it.

[2019-12-06 19:02] robrix commented on #391
I think this might be an intentional consequence of #283; @tclem, can you verify?

[2019-12-07 00:32] RandomDSdevel commented on #154
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Would C-family language support also cover Objective-C and Objective-C++, or would that be handled separately?

[2019-12-07 02:22] robrix commented on #154
@RandomDSdevel Probably not _entirely_ separately, since we’d need C support to get Objective-C support. But I suspect we’d want to get C/C++ squared away first.

I’d be amenable to a new issue to track Objective-C support, if that’s what you’re thinking.

[2019-12-07 10:09] Heimdell opened #392 "The `>+>` operator would invoke left arg twice on the same data"
https://github.com/github/semantic/blob/770268fbdb4ea920d1d4f40b2224430fa9d32f0e/src/Control/Rewriting.hs#L135

Wouldn't it be more effective to
[code]

This way, `a` is invoked once, where in the former case `a` would be invoked on the same data twice.

[2019-12-07 17:22] cgay commented on #217
?

[2019-12-07 18:31] patrickt commented on #392
Good catch!

[2019-12-09 05:39] sonumehta opened #393 "Not able to run cabal-v2 build"
I have installed cabal version – 2.4.1.0 and ghc version 8.6.5
I get the following error when I run this command(cabal v2-build) :

_cabal: Could not resolve dependencies:
[__0] trying: semantic-0.9.0.0 (user goal)
[__1] next goal: unix (dependency of semantic)
[__1] rejecting: unix-2.7.2.2 (library is not buildable in the current
environment, but it is required by semantic)
[__1] rejecting: unix-

[2019-12-09 14:04] patrickt commented on #393
@sonumehta It looks like you’re trying to build on Windows; is that the case? Semantic is not (yet) buildable on Windows, though it should work under WSL. Docker is another option.

[2019-12-09 16:54] tclem commented on #391
I can't tell from the issue title/body what problem we're discussing. @patrickt can you sketch out a few more details describing the issue? What's broken? What did you expect to happen, what happened instead?

[2019-12-09 20:02] patrickt commented on #391
@tclem Apologies! The issue here is that demonstrated in #390:

The user has to type
[code]

when it seems like
[code]

should suffice. Is this intentional?

[2019-12-09 21:31] tclem commented on #391
Hasn't the `graph` command always required specifying a language? I think we took away the confusing `path:Lang` syntax, but graphing often involves an entire project directory of files (if `main.py` imports something we go look for it) and we don't do cross language analysis so you have to pick one to get started.

I think we could infer from the file extension as an enhancement for sure.

[2019-12-09 21:46] robrix commented on #217
We can do the same things as the compiler, including evaluating macros (subject to certain approximations).

[2019-12-10 01:12] cgay commented on #217
And when the macro uses data that's only available at run-time in order to generate the code, or generates different code for different Common Lisp implementations? :-)

Anyway, hopefully your approach will work for more popular languages like Rust, Clojure, and Julia, which also have robust syntax extension mechanisms.

[2019-12-10 11:12] sonumehta commented on #393
Thats right @patrickt . Thanks for the quick response. Can I get it running on Linux VM?

[2019-12-10 13:21] patrickt commented on #393
@sonumehta Yes, it should work fine on a VM (as long as it is provisioned with enough RAM, at least 8GB), though please feel free to file other tickets if it doesn’t work for you. I’m going to close this out and make a note that we should document that it doesn’t build on Windows right now.

[2019-12-10 13:21] #393 closed

[2019-12-10 15:47] #392 closed

[2019-12-10 21:12] robrix commented on #217
That’s when the approximations become relevant: we’ll generate a set of results.

[2019-12-10 21:33] #390 closed

[2019-12-11 05:27] dannaf opened #401 "Parsing error in python with tests (on GitHub)"
On [this code viewed in GitHub](https://github.com/pypa/pip/blob/17075cc17fc4a9d37b826e09cbdb7ba52d8e3735/src/pip/_internal/main.py#L34) the mouse-over on the `stderr` portion of `sys.stderr.write(...` incorrectly identifies the function as being defined in [line 250](https://github.com/pypa/pip/blob/17075cc17fc4a9d37b826e09cbdb7ba52d8e3735/tests/lib/__init__.py#L250) of the `tests/lib/__init__.py

[2019-12-11 16:12] patrickt commented on #401
Hey there! Thanks for reporting this: it’s indeed a bug, and one we’d like to fix. This is, however, not an issue with `semantic` so much as it is our internal tooling that builds on the results that `semantic`’s `tags` mode provides. The relevant repository is not open-source, but I’ve forwarded this issue there. Thanks again!

[2019-12-11 16:12] #401 closed

[2019-12-12 20:38] #289 closed

[2019-12-17 17:31] #236 closed

[2019-12-17 20:49] patrickt opened #410 "Reënable licensed checks."
Now that we’re on GH Actions, we can pull in a licensed executable no sweat. We should do that, as we used to before the OSS days.

[2019-12-18 17:30] tclem commented on #410
We might be able to just run the new [licensed-ci action](https://github.com/marketplace/actions/licensed-ci), though I'm not 100% sure about how well cabal is supported.

[2019-12-30 15:44] patrickt commented on #118
I think this can be closed, since `Semantic.Util` is far smaller and Rob’s work on improving compile times has ameliorated the situation quite significantly.

[2019-12-30 15:44] #118 closed

[2020-01-14 12:27] #358 closed

[2020-01-15 19:32] patrickt opened #421 "Consolidate Name modules."
Right now we have both `Analysis.Name` and `Data.Abstract.Name` (soon to be just `Data.Name`). This, as @robrix points out, is an unpleasant redundancy.

[2020-01-15 20:36] robrix opened #422 "-Werror is inconvenient for local builds"
My goal with enabling `-Werror` in `cabal.project` for local builds was to make it harder to run into cases where the build passes locally but fails in CI because e.g. you’ve got warnings in some file that you haven’t touched recently and so you don’t see them. In practice, it’s just become a pain for any workflow using `cabal build` instead of e.g. `script/repl`, often necessary to e.g. iterate o

[2020-01-15 20:36] robrix commented on #422
(This was biting @tclem the other day.)

[2020-01-15 20:45] robrix opened #423 "AST datatypes should live in semantic"
It’s agonizing trying to work on anything in `semantic` that involves touching `haskell-tree-sitter`, not least because of the hackage releases eventually involved for each of the `tree-sitter*` packages.

Further to this, there’s the `cabal` bug with internal libraries that keeps breaking our local builds every so often; the general painfulness of submodules; we’re really not ready for a hackage

[2020-01-15 20:46] robrix commented on #423
@patrickt points out that this could introduce costly rebuilds of ASTs.

In fairness, we already get those with `tree-sitter-*`, and it’s harder for us to iterate on improving those build times with the AST datatypes living elsewhere.

[2020-01-15 20:47] robrix commented on #423
— @rewinfrey

💯, I couldn’t agree more ☝️

[2020-01-15 20:53] robrix commented on #423
As a variation on this, we could move the entirety of the `haskell-tree-sitter` repo over here, too.

[2020-01-15 20:53] robrix commented on #423
A more philosophical point: ASTs are our bread and butter, it’s _really weird_ that we don’t actually define any here.

[2020-01-15 21:39] tclem opened #424 "Tag inside interpolation (strings, subshells, regexes, etc)"
Precise ASTs give us the ability to produce tags for interpolation. Since a la carte doesn't consistently allow this, we've temporarily [disabled this functionality in precise tagging](https://github.com/github/semantic/pull/417#discussion_r367033725). Once we move off a la carte, let's turn this back on.

[2020-01-15 21:48] patrickt commented on #422
I use `cabal build` a lot and would love this. I think we can just do it by adding `--ghc-options=“-Werror”` to our invocation of `cabal configure` in haskell.yml.

[2020-01-16 17:28] robrix commented on #423
FWIW it’s currently taking [~22min to build our dependencies](https://github.com/github/semantic/pull/426/checks?check_run_id=393607365#step:6:1) in no small part because of `tree-sitter*`. We’re rebuilding dependencies on every push now, so unless that changes, we actually _can’t_ slow things down significantly by just moving the ASTs from the dependencies into `semantic`.

[2020-01-16 17:34] robrix opened #427 "Rebuilding dependencies is extremely slow"
We recently stopped caching built dependencies, which means that we’re now rebuilding them on every push. Unfortunately, this is quite slow, on the order of [22min](https://github.com/github/semantic/pull/426/checks?check_run_id=393607365#step:6:1), in no small part due to `tree-sitter*`.

We stopped caching them due to [some advice](https://github.com/actions/cache/pull/148#pullrequestreview-3415

[2020-01-16 17:35] robrix commented on #427
I think my ideal would be for us to have some sort of cloud build going for dependencies where we can cache each separately by version and only copy in the ones we’re actually going to use to build `semantic` & its tests, but that sounds like a Project™ to say the least.

[2020-01-16 18:43] robrix commented on #422
Well, this isn’t going to be as easy as I’d hoped—[`cabal` uses `--ghc-options` flags passed on the CLI as options for the dependencies](https://github.com/haskell/cabal/issues/3883), and what do you know, some of them have warnings:

[code]

[2020-01-17 04:07] #422 closed

[2020-01-17 21:14] patrickt commented on #427
I’m in favor of turning caching build dependencies back on, though admittedly it’s not kind to the CI servers. Waiting 25 minutes to discover your code failed in tests is just too painful 😞

[2020-01-17 21:49] patrickt commented on #427
Beyond that, my only suggestion is that we lean very hard into [Bazel](https://bazel.build) and [rules_haskell](https://rules-haskell.readthedocs.io/en/latest/), which is a _lot_ of complexity (but with a pretty good payoff).

[2020-01-21 20:26] tclem commented on #378
Sorted out the important differences in https://github.com/github/semantic/pull/417.

[2020-01-21 20:26] #378 closed

[2020-01-24 08:54] Temurson commented on #288
Is this still relevant? I'd like  to pick this issue up. I'm quite comfortable with Haskell, but I'm quite new to open source. I've read the contribution guidelines, any specific advice on this issue? Thanks.

[2020-01-24 18:05] aymannadeem commented on #423
I can't speak to the performance trade-offs, but I can attest to the simplification this would introduce, in addition to overcoming the internal libraries pain, submodules etc. Structurally it makes sense for ast generation to live in `semantic-ast`. I think it's a bit weird we have CodeGen APIs in the same place as our FFI code, even though there's a dependency there.

[2020-01-24 18:34] patrickt opened #438 "Plan: divest from Assignment"
@tclem and I have been trying to figure out the best way to do the following:

- [ ] Disable `semantic graph` for now
- [ ] ~Move `semantic diff` into its own project~ Disable `semantic diff` for now
- [ ] Move assignment and alacarte ASTs into internal RPC service for TOC summaries only (yay build times)
- [ ] Delete all `Task` machinery relating to alacarte ASTs
- [ ] Mark items in the `README`

[2020-01-24 22:06] patrickt commented on #288
@Temurson If you’re comfortable with Haskell, go right ahead once https://github.com/github/semantic/pull/439 lands (which handles all the tricky irritating bits that I had paged into my head). You can start by changing `blobPath :: Blob -> FilePath` to `Blob -> Path.AbsRelFile` (you may also want to add `blobPathString` as a convenience function). A bigger task would be to change `Data.Project` t

[2020-01-26 04:12] Alhadis opened #441 "JSDoc no longer highlighted on GitHub"
Recently, I noticed that [JSDoc](https://jsdoc.app/) blocks no longer receive highlighting on GitHub. [For example](https://github.com/Alhadis/Utils/blob/2cc30027c307efd9793dee52ab6504e8afe29043/lib/dom.mjs#L1-L30):

![figure-1](https://user-images.githubusercontent.com/2346707/73130529-dfd29200-404d-11ea-9a22-546a787d6240.png)

I strongly suspect this has something to do with this library, becaus

[2020-01-26 23:15] patrickt commented on #441
Hi there! Thanks for pointing this out. While `semantic` is peripherally involved in this pipeline, the more appropriate place for this issue is in the tree-sitter-javascript repo, as the first steps to restore this functionality would have to be embedded there. I’ve taken the liberty of moving it: https://github.com/tree-sitter/tree-sitter-javascript/issues/126

[2020-01-26 23:15] #441 closed

[2020-01-27 15:23] achamsanjeevakumar opened #443 "Enabling code navigation in Github"
Hi,

I see code navigation is provided in github.com, I would like to enable similar thing hosted by our company. can you guide how to do it.

[2020-01-27 15:26] patrickt commented on #443
@achamsanjeevakumar Hi there. I’m afraid that code navigation is not supported for GitHub Enterprise at the moment. Though I can’t speak as to the timing of any future features, I’ve noted your feature request in our internal systems, and will inform you in this issue should this feature land. In the meantime, I’m going to close this.

[2020-01-27 15:26] #443 closed

[2020-01-27 16:03] robrix commented on #438
We may wish to disable `semantic diff` temporarily rather than blocking this on implementing diffing for precise ASTs.

[2020-01-27 16:04] robrix commented on #438
cf https://github.com/tree-sitter/haskell-tree-sitter/issues/263

[2020-01-27 16:50] robrix commented on #288
@Temurson you should feel free to start before #439 lands, at the risk of conflicts if that branch changes significantly; branching off of @patrickt’s branch should help minimize them, tho.

Thanks very much for your interest!

[2020-01-27 21:34] maxbrunsfeld commented on #441
Thanks for pointing this out @Alhadis. I've pushed an update that includes [`tree-sitter-jsdoc`](https://github.com/tree-sitter/tree-sitter-jsdoc) into our backend highlighting system.

Example: https://github.com/lodash/lodash/blob/master/debounce.js

The highlighting configuration is more minimal than what the TextMate grammar did - it doesn't try to highlight the contents of `@example` blocks a

[2020-01-28 00:19] Alhadis commented on #441
Correction: the `meta.example.jsdoc` scope wasn't resetting the base text-colour, causing unhighlighted `source.js` tokens to inherit the colour of their parent `comment.block.documentation.js` token. It's a simple styling issue that has nothing to do with the TextMate grammar itself.

Anyway, this is one of the main reasons I disabled TreeSitter in Atom in the first place: lossy and incomplete sc

[2020-01-28 21:56] patrickt commented on #288
#439 has landed, so anyone can go hog wild here, should they wish to do so. Any use of `FilePath` is eligible.

[2020-01-28 22:22] Temurson commented on #288
@patrickt I tried installing semantic on my machine, but failed.
First, I have problems with running `cabal v2-build`, it gives errors like "unsatisfied constraints directory not empty" with different packages every time. When I turn off parallelism (`v2-build --jobs=1`) and it builds successfully.
Second, calling `cabal v2-test` has the same problems with building as in the previous paragraph, bu

[2020-01-28 22:27] patrickt commented on #288
@Temurson

No idea what that could be; can you dump the error in a gist? Did you run `script/bootstrap`?

Re. the `v2-test` stuff, you need to run `script/clone-example-repos`, or we don’t check out the OSS repos we use for fixture data.

[2020-01-28 23:18] Temurson commented on #288
@patrickt yes, I ran `script/bootstrap`.

For some reason I cannot reproduce the errors with `v2-build` anymore. I tried nuking my local `semantic` directory and cloning it again, then running the same steps in the "getting started" instructions, but now everything builds perfectly. Perhaps some problematic dependencies have already been installed somewhere and now cabal just uses them? Now I see

[2020-01-29 16:46] patrickt commented on #288
@Temurson Hmm, that’s very strange. It looks like the `parse-examples` test is failing for you, but it doesn’t appear to be failing on master. Are you pulled to the newest version, and have you run a `cabal update` recently?

[2020-01-29 17:30] wbickford-fiserv opened #452 "Add COBOL-85 Language Support"
My organization utilizes COBOL and we've recently started using GitHub Enterprise. I met with @mcolyer to discuss some of our challenges and he recommended filing an issue with this project to get this language on your radar.

This request is two-part: 1) Please consider adding COBOL support in your roadmap, and 2) if that isn't feasible, determine if you could accept a patch from us to get it don

[2020-01-29 17:51] patrickt commented on #452
@wbickford-fiserv Hi there; thanks for your interest!

We accept language contributions to the semantic repo, but I can’t guarantee that language support in semantic translates directly to support in the GitHub frontend. In addition, we don’t currently support our code navigation features on GitHub Enterprise; I’ll be sure to let you know if that happens.

However, if you’re still interested in he

[2020-01-29 17:54] wbickford-fiserv commented on #452
Thanks - this seems like a great place to start. Do you know what other systems we'd need to start hitting to improve COBOL support in GitHub Enterprise? Thank you for the grammar link. I'll dig into it.

[2020-01-29 22:50] wbickford-fiserv commented on #452
Cross-referencing: https://github.com/spgennard/vscode_cobol/wiki

[2020-01-30 05:41] Temurson commented on #288
@patrickt I sat down determined to solve it once and for all but failed. It is not the `parse-examples` test-suite, it is the `test` test-suite that is failing. I found [this question](https://stackoverflow.com/questions/1257592/how-do-i-remove-files-saying-old-mode-100755-new-mode-100644-from-unstaged-cha), which seems similar to what I'm getting (see error message above, namely "old mode, new mo

[2020-01-31 17:58] patrickt opened #457 "Address inaccuracies in documentation re. Source.Span.Pos indexing"
The `Pos` type in `semantic-source` is documented to start at 1, 1. We should either fix `Unmarshal` or change the docs.

[2020-01-31 18:02] robrix commented on #457
We should change the docs. cf #263.

[2020-01-31 22:29] dnfield opened #461 "Dart support"
I've read through a couple issues and https://github.com/github/semantic/blob/master/docs/adding-new-languages.md - mainly filing this so it's tracked somewhere and people out there realize it's desired.

I'm a bit curious - is there any option to support talking to a language server directly?  Otherwise, each new language feature over time will take additional grammar updates/parser updates.  If

[2020-02-03 15:06] patrickt commented on #461
@dnfield LSP doesn’t provide enough information to be a proper driver for Semantic, unfortunately. The process of adding new languages is about to get much easier, so that documentation will (thankfully!) be out of date soon.

[2020-02-03 18:18] dnfield commented on #461
Will it still be necessary to do the tree sitter parser?  As in, would it be worth starting on that with the upcoming changes?

[2020-02-03 18:20] robrix commented on #461
@dnfield: Great question! Yes, definitely 👍

[2020-02-03 21:31] #423 closed

[2020-02-03 22:56] robrix commented on #423
![finn - algebraic](https://user-images.githubusercontent.com/59671/73698211-7a664d00-46ae-11ea-89ca-181fb9d23505.gif)

[2020-02-04 13:57] #457 closed

[2020-02-05 17:09] pplam opened #471 "Enable JSON-dumping of precise ASTs."
**Semantic version**: [0.7.0.0](https://github.com/github/semantic/releases/tag/0.7.0.0)
**Input file**: [EurekaServiceDiscovery.java](https://github.com/apache/dubbo/blob/master/dubbo-registry/dubbo-registry-eureka/src/main/java/org/apache/dubbo/registry/eureka/EurekaServiceDiscovery.java) of Apache dubbo
**Command**: `semantic parse --json EurekaServiceDiscovery.java`
**Error logs**:
[code]

But

[2020-02-05 17:57] patrickt commented on #471
@pplam It looks like you passed `semantic parse --json`. Did you mean `semantic parse --java`? If that doesn’t work, try `semantic parse --java-mode=Precise`.

[2020-02-06 03:22] pplam commented on #471
@patrickt I used the `--json` flag to get the `json` format output. Unfortunately, there is neither `--java` nor `--java-mode=Precise` flag here.

[2020-02-12 19:24] patrickt commented on #471
Looks like there’s some issues we need to work out in tree-sitter-java. Precise parsing fails with

[code]

[2020-02-12 20:22] damieng commented on #156
@robrix Is there anything else you need from the tree-sitter C# grammar to help push this forward?

[2020-02-13 16:41] patrickt opened #480 "Precise ASTs don’t support comments"
_Ported from https://github.com/tree-sitter/haskell-tree-sitter/issues/99_

In the a-la-carte AST world, we dealt with comments by reifying them as nodes in the AST; since ALC ASTs have a degree of heterogeneity w/r/t typing, this worked fine. In a precise AST world, we have no such luxury.

This is blocking us from writing any docstrings in precise tagging.

[2020-02-13 16:47] patrickt opened #481 "Precise ASTs don’t support parse errors"
_Ported from https://github.com/tree-sitter/haskell-tree-sitter/issues/114_

tree-sitter can return parse errors in the tree, but we can’t represent those in the TH-generated AST datatypes. This probably calls for higher-kinded data, which also would solve #480.

[2020-02-13 16:49] patrickt opened #482 "AST datatypes don’t support diffing"
_(Forked off of/supersedes https://github.com/tree-sitter/haskell-tree-sitter/issues/263. The below text, originally written by Rob, follows.)_

The TH code currently produces AST datatypes which don’t support diffing: we can’t e.g. replace a subterm with a diff of that subterm.

We will likely need to employ higher-kinded data, à la:

[code]

Ordinary terms will then be represented by e.g. `If Id

[2020-02-13 16:54] patrickt opened #483 "Precise AST datatypes’ fields are generated in arbitrary order"
_Ported from https://github.com/tree-sitter/haskell-tree-sitter/issues/97_.

They don’t reflect either the node-types.json file’s declared order or order within the grammar. This is due to aeson using HashMaps to represent objects during JSON parsing, which means that we get keys back in hash order.

[2020-02-13 16:57] patrickt opened #484 "Leaf nodes in precise AST sometimes have unnecessary contents"
_Ported from https://github.com/tree-sitter/haskell-tree-sitter/issues/136._

In Python, true and false are matched by rules of the same name. The TH generates leaf datatypes for these containing Text, like so:

[code]

However, as there’s no way for the grammar to ever produce a parse tree for which bytes is something other than "true", this is superfluous and could be elided for improved perform

[2020-02-13 17:00] patrickt opened #485 "showFailure logic could be simplified"
_Ported from https://github.com/tree-sitter/haskell-tree-sitter/issues/149_.

We could simplify this logic (and the similar logic over :+:s in the generic counterpart) by changing showFailure to take Maybe Node instead of Node. Then we could do fail $ showFailure (Proxy @(Either a b)) currentNode on this line, and on the line above, we wouldn’t need to return node as part of the triple since the l

[2020-02-14 19:20] joshvera commented on #485
@patrickt Doesn't seem like that link is accessible. Do you have another one?

[2020-02-14 19:24] patrickt opened #488 "Ensure that precise PHP output is well-formed compared to alacarte."
@tclem did some heroic work when porting Ruby/Python/etc. to use precise tagging in aleph. Now that we’ve disabled alacarte PHP output, we need to make sure that upgrading our internal systems won’t cause breakage associated with the different shape of the AST.

[2020-02-14 19:29] patrickt commented on #485
@joshvera Oops, that was a mis-paste from the old bug’s page. The link at the top of this issue should be correct.

[2020-02-14 20:14] patrickt opened #489 "Update language-integration docs"
Now that we’re truly, honest-to-$DEITY transitioning away from Assignment, it’s probably time to update the `adding-new-languages.md` file with the new way of doing things, as many people’s filed issues reference having read that.

[2020-02-14 20:17] patrickt commented on #121
This no longer applies now that we’ve gone Full Monorepo.

[2020-02-14 20:17] #121 closed

[2020-02-14 20:29] #421 closed

[2020-02-14 20:36] patrickt commented on #237
Tested this and it parses without error.

[2020-02-14 20:36] #237 closed

[2020-02-14 20:38] patrickt commented on #32
No longer applicable.

[2020-02-14 20:38] #32 closed

[2020-02-14 20:58] patrickt commented on #471
Tested this and it appears to work now with precise parsing (`--show` or `--sexpression`). Currently working on a patch to allow precise JSON decoding.

[2020-02-14 20:59] patrickt commented on #471
Changing the name of this bug to reflect the missing pieces of the above use case.

[2020-02-16 13:00] pplam commented on #471
OK, thanks @patrickt

[2020-02-18 15:31] patrickt opened #491 "Precise AST parsing doesn’t respect configFailParsingForTesting flag."
We need this to be respected so we can test failure modes. Should be a matter of moving some logic from the alacarte path to the general path.

[2020-02-25 02:04] XVilka commented on #452
@wbickford-fiserv you can try to see if the [ANTL4-based COBOL parser](https://github.com/uwol/proleap-cobol-parser) can be handy in creating tree-sitter one.

[2020-02-25 08:22] spgennard commented on #452
This grammar is missing two major verbs COPY/REPLACE which are handled outside of the parsing making it unsuitable for any real-world use... plus it has some glaringly obvious mistakes in the grammar such as being fixed format based.

Then the unfortunate fact is most COBOL sources are not ANS85 compliant but are either IBM Enterprise dialect or Micro Focus dialect.

Sorry to be a downer but I too

[2020-02-27 03:47] XVilka commented on #452
@spgennard well, it's open-source, you can open a bug there or send a pull request. But I think it is good enough to be as a starting point for creating a tree-sitter grammar.

[2020-02-29 07:56] p-alik opened #504 "Language support table contains two java entries"
For no obvious reason [Language support](..#language-support) table contains two partly different java entries.

[2020-03-02 15:53] #491 closed

[2020-03-02 18:52] #504 closed

[2020-03-02 20:00] p-alik opened #508 "[semantic-ast] outdated documentation"
The section [Additional notes](../blob/master/semantic-ast/README.md#additional-notes) refers to haskell-tree-sitter modules, which were removed:

* `GenerateSyntax.hs` was removed in https://github.com/tree-sitter/haskell-tree-sitter/commit/ccd97b5c17dece94961c200e7664c548a29e50ec
* `Unmarshal.hs` in https://github.com/tree-sitter/haskell-tree-sitter/commit/e6a5c342147a9b576e9a163480210eac303d01f

[2020-03-03 08:27] spgennard commented on #452
Gee, thanks for telling me it is open-source, I would never have guessed.

I do speak from a degree of understanding of the subject.

Therefore, If anyone wants help in defining a minimum viable set of requirements for the parser, please feel to drop me a note or contact me on my own [project](https://github.com/spgennard/vscode_cobol).

[2020-03-03 15:42] ChrisPenner commented on #62
Is the docker image published publicly anywhere? It'd be handy for folks to use :)

[code]

[2020-03-03 16:03] tclem commented on #62
@ChrisPenner you'll need to authenticate (`docker login`) to access docker packages hosted on github.com - check out the [docs here](https://help.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/configuring-docker-for-use-with-github-packages).

[2020-03-03 19:11] p-alik commented on #508
done in 9250c786ad4b0ce82ba2598067871cee810435a7

[2020-03-03 19:11] #508 closed

[2020-03-03 19:33] p-alik opened #509 "outdated CodeGen documentation"
like #508

The section [Additional notes](blob/master/docs/codegen.md#additional-notes) refers to haskell-tree-sitter modules, which were removed:

* `GenerateSyntax.hs` was removed in https://github.com/tree-sitter/haskell-tree-sitter/commit/ccd97b5c17dece94961c200e7664c548a29e50ec
* `Unmarshal.hs` in https://github.com/tree-sitter/haskell-tree-sitter/commit/e6a5c342147a9b576e9a163480210eac303d01

[2020-03-04 23:02] MikeSchuit opened #510 "Array Filter()expects parameter 1 to be array?"
Hi I have encountered an issue on my website. The following PHP code snippet appears on my front end website displayed behind my layers. I am not a coder but can make changes to the php if necessary. Please can anyone assist?
Error message:
Warning: array_filter() expects parameter 1 to be array, boolean given /home/gordonfrasier/public_html/wp-content/plugins/divi-overlays/divi-overlays.php on li

[2020-03-04 23:05] tclem commented on #510
👋

From the description, this doesn't appear related to the semantic project so I'm going to close this out.

[2020-03-04 23:05] #510 closed

[2020-03-04 23:05] patrickt commented on #510
Hi there, @MikeSchuit. This repository is for `semantic`, a programming language analysis tool, and as such isn’t an appropriate forum for general PHP questions. I recommend consulting the manual or support forum for the specific software your blog uses.

[2020-03-04 23:16] MikeSchuit commented on #510
Apologies I new here. Will do Thank you.

[2020-03-05 05:31] p-alik opened #511 "semantic-php.cabal refers to non-existing LICENSE"
https://github.com/github/semantic/blob/8745cf88c5cc266036b462b03f9cadaffb7f03ed/semantic-php/semantic-php.cabal#L10

`cabal v2-build` complains
[code]

[2020-03-20 19:29] zhujinxuan commented on #288
Hi, I am interested in taking it over.  I have a question when reading the code.

For `ModulePath` defined in source-graph Module.hs, is it a relative Path `Path.RelFile`, or a absolute path `Path.AbsFile`, or possibly both relative and absolute path `Path.AbsRelFile`?

[2020-03-23 00:29] zhujinxuan commented on #288
Hi, @patrickt .  #519 is ready for review now.

[2020-03-23 20:33] rewinfrey opened #520 "Remove `readBlobsFromDir`"
It's no longer necessary for us to use this functionality, which also allows to remove `codeNavLanguages`.

[2020-03-25 18:01] zhujinxuan opened #522 "Refactor Module to use pathtype"
After merging #519 , we will have an inconsistent comparison betweeen Modules (FilePath) and ModuleTable (Path.AbsRel)
https://github.com/github/semantic/blob/7b588d89c51563f01e2786e2688b6768a560e9e4/src/Control/Abstract/Modules.hs#L118

We shall refactor Modules definition with pathtype.

See discussion under https://github.com/github/semantic/pull/519/files#r396709556

[2020-04-01 16:22] patrickt commented on #520
Fixed.

[2020-04-01 16:22] #520 closed

[2020-04-06 18:00] amaajemyfren opened #531 "python language: issue on github showing code navigation of instance variables"
Hi,

#### Preamble and caveats

I do not know Haskell or how to use semantic - I just saw [here](https://help.github.com/en/github/managing-files-in-a-repository/navigating-code-on-github#about-navigating-code-on-github) that github uses semantic and so had an issue (really small issue and thought to raise it in case you could know how to fix it. Feel free to ignore this and close this issue if it

[2020-04-06 18:14] patrickt commented on #531
Hi there. This is indeed a bug, one that semantic doesn't handle correctly right now; since this relates to a GitHub feature directly, I'm closing this and moving it to our internal repository tracking code navigation issues. Thank you for the report!

[2020-04-06 18:14] #531 closed

[2020-04-08 22:13] patrickt commented on #156
@damieng Glad to see that the tree-sitter C# grammar is doing well! The next piece would be to create a new `tree-sitter-c-sharp` Haskell project within https://github.com/tree-sitter/haskell-tree-sitter/ - this is pretty straightforward, and can be largely copy-pasted from the other such projects. (All those packages need to expose is a `getNodeTypesFile` and the bridged FFI grammar.

(Apologies

[2020-04-09 00:04] damieng commented on #156
In-progress PR at https://github.com/tree-sitter/haskell-tree-sitter/pull/276

[2020-04-09 02:19] LuiseKoza opened #534 "Semantic"

[2020-04-09 12:29] #534 closed

[2020-04-14 21:05] patrickt commented on #511
This is fixed by #535.

[2020-04-17 03:38] zhujinxuan opened #537 "Refactor resolutionMap to use Path.AbsRel"
The resolution map is `Map FilePath FilePath` currently.  We can refactor them with pathtype

https://github.com/github/semantic/blob/c872660ffc3710ef02761f74e8b26f12272787ac/src/Semantic/Resolution.hs#L56
https://github.com/github/semantic/blob/bd457a24d1febdd08d21926ae5fe4bc8758671c5/src/Data/Abstract/Package.hs#L30

[2020-04-17 17:18] #511 closed

[2020-04-20 15:55] #522 closed

[2020-04-20 21:25] #173 closed

[2020-04-24 17:38] patrickt opened #541 "Update to GHC 8.10."
To use the new shiny bits, we’ll need https://github.com/fused-effects/fused-effects/pull/376 to land, and then a similar update for the `fused-syntax` package.

[2020-04-24 17:47] patrickt opened #542 "Update to new Algebra API in fused-effects v1.1."
The HFunctor and Effect classes no longer apply in v1.1; all the activity re. plumbing monadic state is done in `Algebra` itself.

This is something we can perhaps do with [`retrie`](https://hackage.haskell.org/package/retrie)? There are a _lot_ of Algebra instances. I dunno, though.

[2020-04-30 10:05] p-alik commented on #130
I did some work to solve the issue yet https://github.com/p-alik/semantic/blob/semantic-rust/semantic-rust/README.md

[2020-04-30 17:20] patrickt commented on #130
Now that the `tree-sitter-rust` Haskell package exists, next step is to create a `semantic-rust` package like the other ones we have in the semantic repo.

[2020-04-30 19:48] p-alik commented on #130
But `tree-sitter-rust` is still not available on [hackage](https://hackage.haskell.org/packages/search?terms=tree-sitter-rust).  Consequently `cabal` can't compile `semantic-rust` yet.

[2020-05-04 15:51] patrickt commented on #130
@p-alik Use the `cabal.project` feature to pin to the git repo directly.

[2020-05-06 10:31] mihairaulea opened #548 "Graphing project directories from the CLI searches wrong directories"
Using a locally built version of semantic, I have run it against a couple of projects.

`
SEMANTIC_ASSIGNMENT_TIMEOUT=1000000 cabal v2-run semantic -- graph --show --language JavaScript /Users/user/projectA
`

`
SEMANTIC_ASSIGNMENT_TIMEOUT=1000000 cabal v2-run semantic -- graph --show --language JavaScript /Users/user/projectB
`
The run was very slow, but I understand this is due to semantic proce

[2020-05-06 12:06] patrickt commented on #548
Thanks for the report! This looks like something’s going wrong in walking dependency trees, I think. It may be related to @zhujinxuan’s patches for file path handling.

[2020-05-06 12:12] patrickt commented on #548
(Also n.b. that this `graph` command is deprecated, and will eventually be replaced with the work in #535.)

[2020-05-07 02:18] zhujinxuan commented on #548
I will have a look on this this weekend.

[2020-05-09 04:36] lahiguera opened #549 "Fix parse-examples test suite"
On commit `66103a1b999118660e36ecb3e24aa777a080429b`, when running `cabal v2-test`, some tests failed with the following output: [semantic-0.11.0.0-parse-examples.log](https://github.com/github/semantic/files/4602664/semantic-0.11.0.0-parse-examples.log)

The version of ghc is 8.8.2. The version of cabal is 3.0.0.0. The OS is macOS Catalina version 10.15.4.

[2020-05-09 08:43] XVilka commented on #382
Link to the documentation has moved to https://github.com/github/semantic/blob/master/docs/codegen.md

[2020-05-09 16:52] patrickt commented on #549
Yeah, the parse-examples tests need to be refreshed (we don’t run these in CI due to time constraints).

[2020-05-12 03:12] lahiguera commented on #549
Got it. Thank you @patrickt. Maybe I can help with this, but I would need some guidance/studying since I'm just getting familiar with `semantic`.

By the way, also thank you for updating the title of the issue.

[2020-05-14 00:13] patrickt opened #550 "Use aeson-diff in CLI spec"
When we switched to Tasty, we lost hspec’s nice JSON diffs. I worked around this in Semantic.CLI.Spec by using unsafePerformIO to call out to `jd` if available. I have been made aware of https://hackage.haskell.org/package/aeson-diff, which should let us remove this unsafe call.

[2020-05-18 17:37] jtl385 commented on #550
![](http://localhost:8090/github/images/mini-trello-icon.png) [test](http://loopback.planatee.com:3000/c/twbddXeX/42-test)

[2020-05-19 16:08] joshvera opened #553 "Investigate semantic-rust macro tests"
@p-alik has graciously added the `semantic-rust` package but we've had to exclude some macro corpus tests due to parsing issues.

See https://github.com/github/semantic/pull/551 for details.

[2020-05-19 19:28] p-alik commented on #553
https://github.com/github/semantic/blob/25afb3fbb9c265fc5a986d29bc016d4c7d64e8d3/semantic-ast/src/AST/Test.hs#L79
`exampleParser` looks for `---` but in `macros.txt` two examples end with `----`.
* https://github.com/tree-sitter/tree-sitter-rust/blob/40620bf4097cbc9cea79504d7e877865df43a19e/corpus/macros.txt#L32
* https://github.com/tree-sitter/tree-sitter-rust/blob/40620bf4097cbc9cea79504d7e87786

[2020-05-20 14:38] rygwdn commented on #156
I see that tree-sitter/haskell-tree-sitter#276 was merged. What's next for this issue?

[2020-05-20 16:52] shubhamsingh987 opened #559 "ImportError: cannot import name 'div' from 'operator'"
while importing from semantic.solver import MathService i am getting this error any fix?

[2020-05-20 17:25] patrickt commented on #559
Hi there. You’re looking in the wrong `semantic` package. The Python package is here: https://github.com/crm416/semantic

[2020-05-20 17:25] #559 closed

[2020-05-21 00:17] patrickt commented on #156
@rygwdn We need a `semantic-c-sharp` package in github/semantic, along the lines of https://github.com/github/semantic/pull/551.

[2020-05-21 23:03] patrickt commented on #427
Build times are back under 10 minutes. I’m calling this solved for now, though I’m still looking into Bazel.

[2020-05-21 23:03] #427 closed

[2020-05-23 01:47] damieng commented on #156
I've been working on this but the tree-sitter-c-sharp dependency actually fails.

Does the tree-sitter-c-sharp package need to be published somewhere for this to work?

[2020-05-25 14:04] Neppord commented on #452
Hi every one! I just wanted to swing by and tell you all that I have created a repository for tree-sitter-COBOL https://github.com/Neppord/tree-sitter-cobol. COBOL with it all its dialects is quite a challenge so I would appreciate help.

I will at least try to get a skeleton up and running and helping people contribute to the repository.

A lot of time have passed since this issue was started and

[2020-05-25 21:06] adamchainz opened #562 "Python pip setup.cfg"
I'm not sure this is exactly the right place to report, but it seems logical.

Python's packaging ecosystem has long used a `setup.py` file for package metadata. However, since 2016, it has been possible to place all the metadata instead in the `setup.cfg` file, avoiding the need for executable Python code. ([docs](https://setuptools.readthedocs.io/en/latest/setuptools.html#configuring-setup-using

[2020-05-25 21:29] patrickt commented on #562
We’re currently overhauling how `Semantic.Graph` works, so this code path will probably perish, but let’s keep this open to make sure we account for it during Python stack-graphing.

[2020-05-25 21:52] davidism commented on #562
To add a bit more information, I need to leave a minimal `setup.py` with `name` and `install_requires` in order for GitHub's dependency graph feature to work. You can see this in the various Pallets projects, such as Flask: https://github.com/pallets/flask/blob/330a3e3ddba712def955e7a2ccee92a205dfb656/setup.py

[code]

The equivalent sections in `setup.cfg` would be:

[code]

The dependency graph

[2020-05-26 12:36] patrickt commented on #156
@damieng Use Cabal’s `source-repository-package` feature and pin it to a Git hash: https://cabal.readthedocs.io/en/latest/cabal-project.html#specifying-packages-from-remote-version-control-locations

[2020-05-29 14:34] llelf commented on #481
But for the time being, is it possible to get anything more than `Left "expected … but got ERROR"`? Location?

[2020-06-05 16:09] patrickt opened #566 "PHP: dynamic member lookup fails precise parsing"
The following code parses fine with `tree-sitter parse`, but fails with `semantic parse`:
[code]

I’m unclear as to why this might be the case. (We end up in perishing in the guts of `GUnmarshalProduct`, where it’s expecting one and getting three nodes.)

The relevant tree-sitter dump:

[code]

[2020-06-05 16:48] maxbrunsfeld commented on #566
I think there are two bugs in `tree-sitter-php` that play into this:
* The `name` field is applied wrong in the grammar,
* Given the way that the `name` field is applied, `node-types.json` has been generated wrong.

In the `member_call_expression` rule, [the `name` field is associated](https://github.com/tree-sitter/tree-sitter-php/blob/df34d590a71e6a8d60dd45d446bf06aa19bbdcb4/grammar.js#L943) wit

[2020-06-05 18:19] #566 closed

[2020-06-11 16:49] aymannadeem opened #569 "Re-enable Core"
#486 set out to change the Kinds of ASTs, but due to some unforeseen downstream impacts of doing so, decided to instead introduce an error functor, a solution to report parse errors in the interim. This changed ASTs. While tagging and other higher priority dependencies were updated, `Core` and related modules were elided in that PR. Upon merge, `semantic` will not compile any `Core` modules (they'

[2020-06-15 16:40] flajann2 opened #572 "When do you plan to support C++ and Rust?"
Or, how hard would it be for someone to implement it and do a pull request?

[2020-06-15 16:57] patrickt commented on #572
We have tickets open for Rust support (which is in a considerable state of progress): https://github.com/github/semantic/issues/130

And C/C++ (though support for these is difficult, due to preprocessor directives and macros): https://github.com/github/semantic/issues/154

Documentation about how language support works can be found in the `docs/` folder.

I’m gonna close this out for now, but feel

[2020-06-15 16:57] #572 closed

[2020-06-16 15:45] patrickt commented on #481
This should be fixed now, thanks to #486.

[2020-06-16 15:45] #481 closed

[2020-06-20 13:34] Neppord commented on #452
A small dent have been made. I can't believe that it have been 26 days since I created the project, things do take longer then expected when running multiple projects. Tree sitter Cobol have now basic support for the Identification Division and is slowly getting into the real stuff.

If someone would like to help out with the basics for a highlighting setup that would be great. also setting up a b

[2020-06-22 22:10] llelf opened #574 "Some errors are completely ignored"
e. g.
[code]
vs
[code]
version=current master

[2020-06-23 15:31] patrickt opened #575 "semantic-parse build error"
I think this needs to be updated post #486.

[code]

[2020-06-24 19:25] patrickt commented on #548
This code path has been eliminated.

[2020-06-24 19:25] #548 closed

[2020-06-24 19:26] #488 closed

[2020-06-24 19:26] patrickt commented on #438
This is done!

[2020-06-24 19:26] #438 closed

[2020-06-24 19:27] patrickt commented on #391
This code path no longer exists.

[2020-06-24 19:27] #391 closed

[2020-06-24 19:27] patrickt commented on #187
This code path no longer exists; the precise ASTs should handle it correctly.

[2020-06-24 19:27] #187 closed

[2020-06-24 19:28] #182 closed

[2020-06-24 19:32] patrickt commented on #85
Retiring this for now, though we should reexamine these semantics when we start stack-graphing Python.

[2020-06-24 19:32] #85 closed

[2020-06-24 19:33] #83 closed

[2020-06-24 19:33] #78 closed

[2020-06-24 19:33] #77 closed

[2020-06-24 19:33] #75 closed

[2020-06-24 19:34] patrickt commented on #72
I’d say this seems done.

[2020-06-24 19:34] #72 closed

[2020-06-24 19:34] #198 closed

[2020-06-24 19:34] #71 closed

[2020-06-24 19:34] #49 closed

[2020-06-24 19:34] #9 closed

[2020-06-24 19:35] #10 closed

[2020-06-24 19:35] #21 closed

[2020-06-24 21:24] #174 closed

[2020-06-28 09:31] Neppord commented on #452
@wbickford-fiserv what does `.c85_m` files contain? Is it any special COBOL, or should they be highlighted the same way as `.cbl` files?

Are your code base ANSI 85 complaint, or do you need MF or other vendor compatibility?

[2020-06-28 09:33] Neppord commented on #452
I'm trying to get hold of a "pure" ANSI 85 syntax reference, and can't seam to find one (without a pay wall). Anyone that can link to a known good source (paywall or otherwise)?

[2020-06-29 16:08] patrickt commented on #104
As @tclem showed, for LSP support, we _need_ a UTF-16 text type, since LSP span information is delivered in terms of UTF-16 codepoints. Closing this.

[2020-06-29 16:08] #104 closed

[2020-06-29 16:29] patrickt commented on #160
Semantic (for now) has disabled call and import graphing, but we have a new and sophisticated mechanism on the way for doing both, so I’ve changed the title to reflect this.

[2020-06-29 16:39] #549 closed

[2020-07-04 09:43] ghost opened #587 "Lua Support"

[2020-07-08 15:05] tclem opened #588 "Use datadog distribution metrics"
An internal client is still reporting older style percentiles, we should switch to distribution metrics so that the maths workout properly and so that our graphs are more representative of system behavior. This will be a change in the statsd client, semantic, and semanticd.

[2020-07-08 15:56] patrickt opened #589 "Eliminate TermMode type family."
Since we no longer have alacarte syntax, we don’t need this type-level mechanism for dispatch.

[2020-07-08 15:57] patrickt commented on #589
We could also eliminate the language re. `Precise` modes. Also the PerLanguageModes abstraction.

[2020-07-08 18:44] patrickt opened #590 "Bazel: download tree-sitter node-types/corpus from Hackage, not GitHub"
The current situation pulls from both GitHub releases and git hashes. This is both a bit unwieldy and takes more work to maintain. We should do this by downloading the tgz’s from Hackage, as we do with the Stackage snapshot.

[2020-07-08 19:07] patrickt opened #591 "Bazel: build tree-sitter-* packages natively rather than via Stackage"
We currently have an unfortunate gyration in which we download language packages so we can get at their `node-types.json` files, but we don’t actually use those packages for compilation. Instead, we get the languages packages from Stackage and build those. This is kind of roundabout and prone to breakage. What we should do instead is patch haskell-tree-sitter so that it provides BUILD.bazel files,

[2020-07-08 20:45] aymannadeem opened #592 "Fix how Lingo handles ambiguous extensions"
Ran into this while working on [Rust Tagging](https://github.com/github/semantic/pull/586). I wasn't able to compile and test because `.rs` files imply either Rust source of Renderscript. We omit spurious extensions in `Source.Language`, but instead of a result that returns `Unknown -> "Unknown"`, we should probably throw an exception indicating why this is tripping up (ie., "ambiguous file extens

[2020-07-08 23:29] patrickt opened #595 "Bazel: `recompile with -fPIC` errors on Linux"
My experiments [here](https://github.com/github/semantic/runs/851893981?check_suite_focus=true) ran into a continual issue:

[code]

(repeated thousands of times)

I have no idea what we have to do to fix this, though some googling appears to indicate this is a static/dynamic problem. If you have further insight, please drop a comment here 👀

[2020-07-08 23:37] tclem commented on #595
Might be a thing in the base image with `ld`? We've got this in one of our base dockerfile (used to build semantic stuff internally):

[code]

[2020-07-08 23:52] dcreager commented on #595
I kept running into this on my Linux box when trying to test #579.  The best discussion I could find was at tweag/rules_haskell#429.  That suggested a few workarounds, none of which worked for me:

[code]

We might have to enlist Tweag's help with this.

I also got a bunch of ["invalid byte sequence" errors](https://github.com/tweag/rules_haskell#hgetcontents-invalid-argument-invalid-byte-sequence

[2020-07-09 07:51] aherrmann commented on #595
@patrickt That looks like an error we encountered on Bazel CI recently: https://github.com/tweag/rules_haskell/issues/1349
The issue occurred on Ubuntu 18.04 with GHC 8.8 which seems to match your setup.
A fix is available here: https://github.com/tweag/rules_haskell/pull/1388

[2020-07-09 11:39] dcreager commented on #595
Woohoo! :tada: @aherrmann I can confirm that fixes the Linux builds for us: https://github.com/github/semantic/compare/bazel-linux-fixes

[2020-07-09 15:49] #591 closed

[2020-07-09 15:49] #590 closed

[2020-07-09 16:29] v0d1ch opened #599 "cabal v2-build all fails"
When trying to build freshly cloned repo this is what I get:

[code]
I just followed the instructions in the readme. Did a `./script/bootstrap` and `cabal v2-build all` and BAM!

[2020-07-09 16:35] patrickt commented on #599
@v0d1ch Are you running GHC 8.8? It looks like you have an older version of `base`.

[2020-07-09 19:28] patrickt commented on #599
I’m going to close this out, since the `base` version is indeed at fault, but please feel to reopen or file a new bug if you encounter further difficulties.

[2020-07-09 19:28] #599 closed

[2020-07-09 20:56] patrickt opened #602 "Update docs now that alacarte syntax is gone."
Though we’ve kept the features chart up to date, we should update the getting-started guide and the bibliography.

[2020-07-10 10:10] v0d1ch commented on #599
Yeah my ghc is fixed to 8.6.5 because of work. All good, sorry for the noise.

[2020-07-10 15:29] patrickt commented on #599
@v0d1ch If you don’t already, give `ghcup` a try! You should be able to switch between GHC versions without a problem.

[2020-07-10 17:31] ch3rn0v opened #604 "AST.dyn_o file is missing for Python"
Hi. When I try to `cabal new-build all` it says:

[code]

Which results in failure. All the directories mentioned in the path do exist, only the file itself is absent.
As a workaround, I simply created an empty one, as I do not intend to parse Python right now. But it looks like this might be an issue for those who does.

[2020-07-10 17:33] patrickt commented on #604
Are you running Arch Linux, by chance? If not, have you installed your `cabal` and `ghc` through your system package manager?

[2020-07-10 17:42] ch3rn0v commented on #604
Nope, I'm using Ubuntu 19.

Re `cabal` - yes, I did. And I installed `ghc` according to the advice [laid out here](https://github.com/github/semantic#development).

However, I did not reboot the system since and manually updated the paths (in the same terminal where I then built `semantic`). Could this be the reason?

[2020-07-10 17:51] patrickt commented on #604
Hmm. Try exiting the shell, as you suggested; also perhaps try a `cabal build` in case the cache is corrupted. The fact that it’s looking for `dyn_o` files seems to indicate that it’s being compiled with `-dynamic`, which is not what you want; I’m baffled as to why it would do this.

If you continue running into problems, you could give the Bazel build a shot.

[2020-07-10 17:51] patrickt commented on #604
Hmm. Try exiting the shell, as you suggested; also perhaps try a `cabal build` in case the cache is corrupted. Does the output of `which ghc` point to a directory associated with `~/.ghcup`?

If you continue running into problems, you could give Ba

[2020-07-10 18:28] ch3rn0v commented on #604
Nope, I did not specify this flag.

I removed the whole directory, downloaded it afresh and built again with `cabal v2-build all -j1` (apparently 32 Gb RAM isn't enough for a multi-threaded build process). This worked properly, thank you!

[2020-07-10 18:28] #604 closed

[2020-07-10 20:15] v0d1ch commented on #599
I do but since there is no real time for personal coding I tend to forget that ghc has more than one version :)

[2020-07-13 14:39] #69 closed

[2020-07-13 14:39] #122 closed

[2020-07-13 16:13] #595 closed

[2020-07-13 16:14] patrickt commented on #592
`forPath` should probably return a `Maybe Language`.

[2020-07-13 16:23] patrickt commented on #114
We have this now.

[2020-07-13 16:23] #114 closed

[2020-07-13 16:36] patrickt commented on #489
This has been taken care of already.

[2020-07-13 16:36] #489 closed

[2020-07-13 16:36] patrickt commented on #46
I think given the existence of `docs/examples.md`, and the fact that we’re publishing Docker images, this is safe to close.

[2020-07-13 16:36] #46 closed

[2020-07-14 14:06] Razzeee commented on #489
It would be very cool to have a section that talks about what this means for a language.
If we do this for language X and it gets merged:
- Will github use it for highlighting?
- Will github enable jump to definition/reference?
- What else would this work enable?

[2020-07-15 15:28] #589 closed

[2020-07-15 18:54] ch3rn0v opened #608 "Support json format for AST output"
Hello. Not long ago I was able to run
`cabal new-run semantic -- parse --json ../redux | tail -n +2 > ~/Desktop/p_redux.json`

which parsed `../redux` directory recursively, and stored json formatted output in `~/Desktop/p_redux.json`.

As far as I see now, recursive directory parsing is disabled, but that's a separate matter (which can be solved with `find`, for instance).

What's more pressing i

[2020-07-15 19:29] patrickt commented on #608
Agreed. This is a dup of #471.

[2020-07-15 19:29] #608 closed

[2020-07-15 19:30] patrickt commented on #608
FYI, if you use the last Docker image, the above invocation should work. Things are under construction now as we strip out all the alacarte syntax.

[2020-07-15 19:45] #602 closed

[2020-07-15 19:45] #107 closed

[2020-07-15 19:51] ch3rn0v commented on #608
Interestingly, searching for "--json" didn't help me find it, or I didn't go deep enough. Thank you for pointing it out!

Great, I'll take a look, thank you!
(The bug reported above is reproduced if the app is built from the sources, now I'll try the alternative).

[2020-07-16 16:08] patrickt commented on #608
@ch3rn0v Great. (By “last”, I mean “last dot-release”.)

[2020-07-17 17:05] ch3rn0v commented on #608
@patrickt , if you don't mind me asking, I tried the suggested Docker image.
Indeed, it seems to respect `--json` (or at least I don't receive an error about it).

However, I do get another error:

`openBinaryFile: does not exist (No such file or directory)`

Even though I specify the full path and the file does exist.

I had a similar issue with the local build of `semantic`, yet supplying the fu

[2020-07-17 17:31] patrickt commented on #608
Hmmm that’s unfortunate. Would you mind filing a bug about that? Looks like something we need to look into.

[2020-07-17 17:38] ch3rn0v opened #611 "When using semantic as a docker image, I get `openBinaryFile: does not exist`"
When trying to parse a file, I get an error `openBinaryFile: does not exist`.

When I build semantic locally, this error is resolved by specifying the full path instead of something like `~/...`.

However, when I use `semantic` as a [docker image](https://github.com/github/semantic/packages/11609?version=sha_d6737eb0a0e06fe6ba18e2c91f3cdbd993614499), I still get the same error even when I provide

[2020-07-17 17:39] ch3rn0v commented on #608
Absolutely, [here it is](https://github.com/github/semantic/issues/611)

[2020-07-18 16:26] joshvera commented on #611
@ch3rn0v Hey! It looks like that's occurring because you didn't specify a volume for docker to mount.

Something like the following should work:

[code]

Reference: https://docs.docker.com/storage/volumes/

[2020-07-18 19:44] ch3rn0v commented on #611
Hi @joshvera ! Thanks a lot, this was indeed the reason.
After I fixed it according to your suggestion, it worked.

---

On a related note: you might be interested that in order to pass `semantic` a dynamically generated list of files (using `find`, for instance) I had to overwrite Dockerfile's entrypoint. Is this the supposed approach?

[2020-07-18 19:44] #611 closed

[2020-07-21 01:06] UltimateBeaver opened #612 "Lack of support of throws syntax in Java"
Hi team, it seems release 0.7.0.0 doesn't support `throws` syntax in Java. I've tested the minimal example below in tree-sitter's playground and verified it's not an upstream issue. Please let me know if you need any more info on this. Thanks!

**Tested in version 0.7.0.0**

## Minimal Example to Reproduce

### Source Code

[code]

### Error Message (Tested in version 0.7.0.0)

[code]

[2020-07-21 12:58] patrickt commented on #612
Thanks for the report! Looks like we need to rev the Java grammar from upstream. Changing the title to reflect this.

[2020-07-21 13:03] patrickt commented on #612
Thanks for your report! The `--json` command line switch goes through the old a-la-carte syntax; try `--json-symbols` instead, which goes through the precise syntax. I’ve confirmed that the above works in `master` as of this writing, so I’m going to close this out, but please leave a comment if `--json-symbols` doesn’t work for you. (N.B. `master` has removed the `--json` switch in favor of `--jso

[2020-07-21 13:03] #612 closed

[2020-07-23 19:41] #542 closed

[2020-07-27 16:43] #471 closed

[2020-07-28 15:55] patrickt opened #615 "Give Parse effect the ability to parse concurrently"
Now that #614 is taken care of (or will be soon), we need to reexamine our approach to concurrency.

The simplest big win is to change
[code]

to
[code]

Because `Parse` ends up running an `IO` action, we can use `mapConcurrently` to perform said operations. Unfortunately, this requires a bit of plumbing; I’ve taken two swings at this and whiffed. Now that alacarte syntax is gone, this might be a

[2020-07-29 16:59] patrickt commented on #40
This effect was removed.

[2020-07-29 16:59] #40 closed

[2020-08-03 17:22] patrickt commented on #615
I tried doing this and observed a significant performance regression with `keras/keras`. This makes me very sad.

[2020-08-03 17:52] patrickt commented on #615
Okay I see what the problem is here: `forConcurrently` is not a good solution for us: it does a lot of work per-invocation (creating an `MVar` and calling `fork` for every item in the provided list). We should do something like set up some concurrent queues.

[2020-08-03 21:40] patrickt opened #616 "Rethink approach to typed paths"
We’ve been using the `pathtype` package to provide type-level distinctions between absolute/relative file/directory paths. Though in theory this is a better solution than plain old `FilePath`, which just [wraps a string](https://twitter.com/keith_duncan/status/638582305917833217?lang=en). Though using `pathtype` has uncovered some [weird semantics](https://github.com/github/semantic/issues/356), t

[2020-08-04 19:24] warrenbuckley commented on #156
With the blog post for improved language support - does this mean anything the community can do to help move the C# language feature along in anyway or is the GitHub team actively working on C# lang support?

https://github.blog/2020-08-04-codegen-semantics-improved-language-support-system/

[2020-08-11 01:42] TheButlah commented on #130
Is Rust supported now? I noticed that #551 was merged

[2020-08-11 07:38] p-alik commented on #130
Possible this [note in #572](https://github.com/github/semantic/issues/572#issuecomment-644252716) answers your question.

[2020-08-24 13:43] patrickt commented on #156
@mdentremont Apologies, but we’re still working out issues on our backend—storing this information takes a great deal of space. I will update this issue when we’re ready! For the time being, those interested should take a look at the [tree-sitter query](https://tree-sitter.github.io/tree-sitter/using-parsers#pattern-matching-with-queries), as our inexact (fuzzy) code navigation has been ported to

[2020-08-25 11:28] bdrodes opened #617 "Python Bindings"
Is there a way to easily ingest and manipulate a semantic AST in python? I realize I can walk the json generated by semantic, but I was hoping there was mechanism to modify/insert nodes into an existing semantic-produced AST through a python API.

[2020-08-25 13:07] patrickt commented on #617
We don’t have any plans to provide APIs in languages other than Haskell, due to the time and effort associated with maintaining binding quality, and the fact that we’re focused on writing new analyses these days. It’s possible that a bindings tool like [hyphen](https://github.com/tbarnetlamb/hyphen) might help you, though I haven’t used it and can’t speak to its quality.

[2020-08-25 13:07] #617 closed

[2020-09-02 19:33] rewinfrey opened #619 "Bazel in CI reporting errors"
In https://github.com/github/semantic/pull/618, @patrickt and I ran into some issues getting Bazel to build `semantic` correctly in CI. Locally, bazel builds are still working, but there is something specific about the CI setup that is creating an issue. For now bazel builds are disabled in CI for `semantic`, but it would be ideal to troubleshoot and fix the CI bazel builds.

[2020-09-07 19:18] 314eter opened #621 "Reserved haskell keywords as field names"
Some of the field names in the `node-types.json` of [tree-sitter-ocaml](https://github.com/tree-sitter/tree-sitter-ocaml) are reserved haskell keywords (`class` and `default`). This is a problem for AST generation. What is the best way to solve this? Should I rename the keywords, or is there a way to solve this in semantic?

[2020-09-07 20:35] 314eter commented on #621
I opened a PR at tree-sitter/haskell-tree-sitter#290, so I'm closing this here.

[2020-09-07 20:35] #621 closed

[2020-09-08 13:45] patrickt opened #622 "Reconsider AOT vs. compile-time generation of syntax trees"
Our current formulation of syntax trees assumes that we’ll be able to read the contents of `node-types.json` files at compile time. This is only true for local development, and files pulled in via pinned Git dependencies. For all other cases, the [official word](https://github.com/haskell/cabal/issues/7021) is that this is not expected to work. This means that [any future publishing to Hackage](ht

[2020-09-09 17:09] patrickt commented on #622
Good news: with a little elbow grease, we can reuse @aymannadeem’s Template Haskell work here, since it’s possible to run the `Q` monad from `IO`. That means that codegen should be as simple as pretty-printing the result of running `astDeclarationsForLanguage`, with appropriate `module` headers, imports, and LANGUAGE pragmas. Exciting!

[2020-09-10 13:38] bas commented on #156
Great to see there is some progress as an Azure DevOps customer (Vestas) requested this feature in discussions around moving to GitHub.

[2020-09-17 17:08] philderbeast opened #628 "Remove the install via homebrew from the bootstrap?"
I see from their docs that the binary installer is the recommended way to install bazel on mac.

https://docs.bazel.build/versions/master/install-os-x.html

Would it be possible to remove the install via homebrew from the bootstrap?

https://github.com/github/semantic/blob/aca39e86683cf09071fc884313d7ec676f4c2c4b/script/bootstrap-bazel#L6

[2020-09-17 17:15] patrickt commented on #628
At GitHub, the convention for software installed through `script/bootstrap` scripts is to use Homebrew. Nothing in the documentation or the Homebrew formula suggests to me that there’s a substantiative difference between the options, and said formula seems like it’s up to date, so I think it’s most appropriate to stick to our conventions here.

[2020-09-17 17:15] #628 closed

[2020-09-17 17:20] philderbeast opened #629 "Document what to do when bazel emits a DEVELOPER_DIR error."
With a clone of semantic at aca39e86683cf09071fc884313d7ec676f4c2c4b and bazel installed with the [3.3.1 installer](https://github.com/bazelbuild/bazel/releases/download/3.3.1/bazel-3.3.1-installer-darwin-x86_64.sh) the bazel build of semantic fails at @happy//:happy:

[code]

[2020-09-17 17:22] patrickt commented on #629
Ah, this is a problem with rules_haskell for macOS: [as per here](https://github.com/tweag/rules_haskell#macos-error-developer_dir-not-set), the solution is to

[code]

in your .profile or location of choice. I’m rewriting the documentation about Bazel soon, and I’ll be sure to mention what to do if this occurs. Changing the title to reflect that.

[2020-09-17 17:46] philderbeast commented on #628
I was unaware of the github convention. Good to know. Thanks for the explanation.

[2020-09-17 17:48] philderbeast commented on #629
Thanks, I can report that the bazel build completed when that environment variable was set.

[2020-09-18 14:24] #622 closed

[2020-09-18 19:17] slang25 opened #631 "GitHub Enterprise Support"
I've seen a couple of comments regarding semantic code support suggesting there is no current plans to bring it to GitHub Enterprise.

Is there a place to track user suggestions like this? It might be good to keep an issue open here to gauge demand for it.

[2020-09-18 19:25] patrickt commented on #631
Thanks for filing this! We’ve gotten a lot of requests for this, so we're tracking this in an internal private repository. I’ll link to this therein.

[2020-09-18 19:25] #631 closed

[2020-09-18 19:25] dcreager commented on #631
Here is the internal roadmap issue tracking this request: https://github.com/github/roadmap-internal/issues/77

[2020-09-18 19:51] patrickt commented on #619
This is fixed.

[2020-09-18 19:51] #619 closed

[2020-09-22 19:30] am11 commented on #156
Code Navigation option is now enabled for C# sources on GitHub, but the language is not yet listed in the [docs](https://docs.github.com/en/github/managing-files-in-a-repository/navigating-code-on-github).
<img width="1100" alt="image" src="https://user-images.githubusercontent.com/3840695/93928457-06eb7b80-fd23-11ea-8608-4c5c0f2aac16.png">